{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
<html>
<head>
{% block title %}Autorización Superintendencia{% endblock %}
</head>
<body>
{% block content %}
<hr>
<hr>
<hr>
<hr>
<div class = "row mt-2 bg-white">
    <ul class="nav nav-pills" >
        <li class="nav-item mx-2 pl-5">
            <button type="submit" class="btn btn-outline-success" value='Reporte Excel'>
                <i class="fa-solid fa-file-excel fa-2xl"></i>
            </button>
        </li>
        <li class="nav-item mx-2">
            <button type="button" class="btn btn-outline-danger">
                <i class="fa-solid fa-file-pdf fa-2xl"></i>
            </button>
        </li>
    </ul>
</div>

<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class = "row mt-2">
    <div class="col-md-12">
        <table class="table bg-white">
            <thead class="text-black" style="background-color: #F5F5F5;">
                <tr>
                    <th scope="col">Folio</th>
                    <th scope="col">Solicitado por</th>
                    <th scope="col">Proyecto</th>
                    <th scope="col">Subproyecto</th>
                    <th scope="col">Operación</th>
                    <th scope="col">Creado</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Costo</th>
                    <th scope="col">Moneda</th>
                    <th scope="col">Condición</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for compra in compras %}
                <tr>
                    <th scope="row">{{compra.folio}}</th>
                    <td>{{compra.req.orden.staff.staff.first_name}} {{compra.req.orden.staff.staff.last_name}}</td>
                    <td>{{compra.req.orden.proyecto.nombre}}</td>
                    <td>{{compra.req.orden.subproyecto.nombre}}</td>
                    <td>{{compra.req.orden.operacion}}</td>
                    <td>{{compra.created_at}} </td>
                    <td>{{compra.proveedor}}</td>
                    <td>{{compra.costo_oc}}</td>
                    <td>{{compra.moneda}}</td>
                    <td>{{compra.cond_de_pago.nombre}}</td>
                    <td>
                        <ul class="nav nav-pills">
                            <li class="nav-item mx-2">
                                <a type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#dialog" hx-target="#document" hx-get="{% url 'cancelar-oc1' compra.id %}"><i class="fa-solid fa-xmark"></i></a>
                            </li>
                            <li class="nav-item mx-2">
                                <a type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#dialog" hx-target="#document" hx-get="{% url 'back-oc' compra.id %}">R<i class="fa-solid fa-backward"></i></a>
                            </li>
                            <li class="nav-item mx-1">
                                <a id="myBtn" type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target='#dialog' hx-target="#document" hx-get="{% url 'autorizar-oc1' compra.id %}"><i class="fa-solid fa-check"></i></a>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

<!--Este es el modal-->
<div class="modal fade" id ="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" id="document" role="document" hx-target="this">

    </div>
</div>


</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

var dataSpyList = [].slice.call(document.querySelectorAll('[data-bs-spy="scroll"]'))
dataSpyList.forEach(function (dataSpyEl) {
  bootstrap.ScrollSpy.getInstance(dataSpyEl)
    .refresh()
})

</script>
{% endblock %}
</body>
</html>