{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
<html>
<head>
{% block title %}Matriz de compras{% endblock %}
</head>
<body>
{% block content %}
<hr>
<hr>
<hr>
<div class = "row mt-2 bg-white">
        <div class="col-12">
            <div class="card card-body">
                <h5>Filtro de Compras</h5>
                <hr>
                {% csrf_token %}
                <form method="GET">
                <div class="row g-12">
                    <label for="myfilter.form.codigo" class="col-sm-auto col-form-label text-right my-2"><strong>Folio:</strong></label>
                    <div class="col-auto my-2">
                        {{myfilter.form.id|add_class:'form-control'}}
                    </div>
                    <label for="myfilter.form.codigo" class="col-sm-auto col-form-label text-right my-2"><strong>Proveedor:</strong></label>
                    <div class="col-auto my-2">
                        {{myfilter.form.proveedor|add_class:'form-control'}}
                    </div>
                    <label for="myfilter.form.producto" class="col-sm-auto col-form-label text-right my-2"><strong>Requisición:</strong></label>
                    <div class="col-auto my-2">
                        {{myfilter.form.req|add_class:'form-control'}}
                    </div>
                    <label for="myfilter.form.producto" class="col-sm-auto col-form-label text-right"><strong>Proyecto:</strong></label>
                    <div class="col-auto my-2">
                        {{myfilter.form.proyecto|add_class:'form-control'}}
                    </div>
                </div>
                <div class="row g-12">
                    <label for="myfilter.form.producto" class="col-sm-1 col-form-label text-right"><strong>Subproyecto:</strong></label>
                    <div class="col-2">
                        {{myfilter.form.subproyecto|add_class:'form-control'}}
                    </div>
                    <label for="myfilter.form.producto" class="col-sm-1 col-form-label text-right"><strong>Desde:</strong></label>
                    <div class="col-2">
                        {% render_field myfilter.form.start_date type="date" class="form-control" %}
                    </div>
                    <label for="myfilter.form.producto" class="col-sm-1 col-form-label text-right"><strong>Hasta:</strong></label>
                    <div class="col-2">
                        {% render_field myfilter.form.end_date type="date" class="form-control" %}
                    </div>
                    <div class="col-2">
                        <button class="btn btn-outline-success btn-block" type="submit" value="Buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
                <hr>
                </form>
                <form method=POST>
                    {% csrf_token %}
                    <ul class="nav nav-pills">
                        <li class="nav-item mx-2">
                            <button type="submit" name="btnExcel" class="btn btn-outline-success" value='Reporte Excel'>
                                <i class="fa-solid fa-file-excel fa-2xl"></i>
                            </button>
                        </li>
                        <li class="nav-item mx-2">
                            <button type="button" class="btn btn-outline-danger">
                               <i class="fa-solid fa-file-pdf fa-2xl"></i>
                            </button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
</div>
    <!-- Aquí terminan el encabezado de los filtros -->

<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class = "row mt-2">
    <div class="col-md-12">
        <table class="table bg-white">
            <thead class="text-black" style="background-color: #F5F5F5;">
                <tr>
                    <th scope="col">Compra</th>
                    <th scope="col">Req</th>
                    <th scope="col">Sol</th>
                    <th scope="col">Solicitado por</th>
                    <th scope="col">Proyecto</th>
                    <th scope="col">Subproyecto</th>
                    <th scope="col">Operación</th>
                    <th scope="col">Creado</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Costo</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for compra in compras %}
                <tr>
                    <th scope="row">{{compra.folio}}</th>
                    <th scope="row">{{compra.req.folio}}</th>
                    <th scope="row">{{compra.req.orden.folio}}</th>
                    <td>{{compra.req.orden.staff.staff.first_name}} {{compra.req.orden.staff.staff.last_name}}</td>
                    <td>{{compra.req.orden.proyecto.nombre}}</td>
                    <td>{{compra.req.orden.subproyecto.nombre}}</td>
                    <td>{{compra.req.orden.operacion}}</td>
                    <td>{{compra.created_at}} </td>
                    <td>{{compra.proveedor}}</td>
                    <td>{{compra.costo_oc}}</td>
                    <td>
                        <ul class="nav nav-pills">
                            <li class="nav-item mx-1">
                                <a id="myBtn" type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target='#dialog' hx-target="#document" hx-get="">Productos</a>
                            </li>
                            <li class="nav-item mx-1">
                                <a type="button" class="btn btn-outline-light" style="background-color:#980f0f" data-bs-toggle="modal" data-bs-target='#dialog' hx-target="#document" hx-get="{% url 'upload-facturas' compra.id %}"><i class="fa-solid fa-cloud-arrow-up"></i><i class="fa-solid fa-file-pdf"></i></a>
                            </li>
                            <li class="nav-item mx-1">
                                <a type="button" class="btn btn-outline-light" style="background-color:#9a9b9d" data-bs-toggle="modal" data-bs-target='#dialog' hx-target="#document" hx-get="{% url 'upload-xml' compra.id %}"><i class="fa-solid fa-cloud-arrow-up"></i><i class="fa-solid fa-file-code"></i></i></a>
                            </li>
                            <li class="nav-item mx-2">
                                <a type="button" class="btn btn-outline-info" href="{% url 'oc-pdf' compra.id%}"><i class="fa-solid fa-file-pdf fa-2xl"></i></a>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

<!--Este es el modal-->
<div class="modal fade" id ="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" id="document" role="document" hx-target="this">

    </div>
</div>


</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
var dataSpyList = [].slice.call(document.querySelectorAll('[data-bs-spy="scroll"]'))
dataSpyList.forEach(function (dataSpyEl) {
  bootstrap.ScrollSpy.getInstance(dataSpyEl)
    .refresh()
})


</script>
{% endblock %}
</body>
</html>