{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<html>
<head>
{% block title %}Requisiciones autorizadas{% endblock %}
</head>
<body>
{% block content %}
<hr>
<div class = "row mt-2 bg-white">
    <ul class="nav nav-pills" >
        <li class="nav-item mx-2 pl-5">
            <button type="submit" class="btn btn-outline-success" value='Reporte Excel'>
                <i class="fa-solid fa-file-excel fa-2xl"></i>
            </button>
        </li>
        <li class="nav-item mx-2">
            <button type="button" class="btn btn-outline-danger">
                <i class="fa-solid fa-file-pdf fa-2xl"></i>
            </button>
        </li>
    </ul>
</div>



<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class="card text-center" style="width: 18rem;">
    <div class="card-header">
         <h5 class="card-title">Tipo de cambio</h5>
    </div>
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">{{tags}}</h6>
        <p style="font-style:italic;"> Información extraída del DOF</p>
    </div>
    <div class="card-footer text-muted">
         <a href="https://www.dof.gob.mx/#gsc.tab=0" class="card-link">DOF</a>
    </div>
</div>


<div class = "row mt-2">
    <div class="col-md-12">
        <table class="table bg-white">
            <thead class="text-black" style="background-color: #F5F5F5;">
                <tr>
                    <th scope="col">RQ</th>
                    <th scope="col">Solicitud</th>
                    <th scope="col">Solicitado por</th>
                    <th scope="col">Proyecto</th>
                    <th scope="col">Subproyecto</th>
                    <th scope="col">Operación</th>
                    <th scope="col">Creado</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for req in requis %}
                <tr>
                    <th scope="row">{{req.folio}}</th>
                    <th scope="row">{{req.orden.folio}}</th>
                    <th scope="row">{{req.orden.staff.staff.first_name}} {{req.orden.staff.staff.last_name}}</th>
                    <td>{{req.orden.proyecto.nombre}}</td>
                    <td>{{req.orden.subproyecto.nombre}}</td>
                    <td>{{req.orden.operacion}}</td>
                    <td>{{req.orden.created_at}} </td>
                    <td>
                        <ul class="nav nav-pills">
                            <li class="nav-item mx-1">
                                <a id="myBtn" type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target='#dialog' hx-target="#document" hx-get="{% url 'requisicion-creada-detalle' req.id %}">Productos</a>
                            </li>
                            <li class="nav-item mx-1">
                                <a type="button" class="btn btn-outline-success" href="{% url 'oc' req.id %}">Crear OC</a>
                            </li>
                            <li class="nav-item mx-1">
                                <a type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#dialog" hx-target="#document" hx-get="{% url 'requisicion-cancelar' req.id %}">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

<!--Este es el modal-->
<div class="modal fade" id ="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" id="document" role="document" hx-target="this">

    </div>
</div>


</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
var dataSpyList = [].slice.call(document.querySelectorAll('[data-bs-spy="scroll"]'))
dataSpyList.forEach(function (dataSpyEl) {
  bootstrap.ScrollSpy.getInstance(dataSpyEl)
    .refresh()
});

;(function(){
    const modal = new bootstrap.Modal(document.getElementById('dialog'))

    htmx.on('htmx:beforeSwap',(e)=>{
        if (e.detail.target.id === "document" && !e.detail.xhr.response)
        modal.hide()
    })
})()

var myModal = document.getElementById('dialog')

myModal.addEventListener('hidden.bs.modal', function (event) {
  location.reload();
})

</script>
{% endblock %}
</body>
</html>