{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!--FotAwesome CDN-->
    <script src="https://kit.fontawesome.com/437c06e9e5.js" crossorigin="anonymous"></script>
</head>
<nav class="navbar fixed-top navbar-dark bg-dark">
    {% if user.is_authenticated %}
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'dashboard-index' %}">
            <img src="https://www.pythonanywhere.com/user/UlisesHuesca/files/home/UlisesHuesca/inventoryproject/templates/partials/SAVIA_Logo.png" alt="SAVIA" width="50" height="50">
            </a>
            <ul class="nav nav-pills" >
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="{% url 'dashboard-index' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="{% url 'user-profile' %}">{{user.first_name}} {{user.last_name}}</a>
                </li>
            </ul>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="btn btn-secondary" href="{% url 'user-logout' %}">Logout</a>
                </li>
                <li class="nav-item">
                {% if usuario.tipo.crear_sol == False %}
                <div class="d-none">
                {% else %}
                <div>
                {% endif %}
                    <div class="form-inline my-2 my-lg-0 position-relative d-none" id="cart">
                        <a href="{% url 'solicitud-checkout' %}">
                        <img id="cart-icon" src="{% static 'images/cart.png' %}">
                        </a>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{productosordenados}}
                        </span>
                    </div>
                    <div class="form-inline my-2 my-lg-0 position-relative d-none" id="cart2">
                        <a href="{% url 'solicitud-checkout-resurtimiento' %}">
                        <img id="cart-icon" src="{% static 'images/cart.png' %}">
                        </a>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{productosordenadosres}}
                        </span>
                    </div>
                </div>
                </li>
            </ul>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    {% if usuario.tipo.ver_req == False %}
                    <div class="d-none">
                    {% else %}
                    <div>
                    {% endif %}
                        <h6 class="dropdown-header">Configuración</h6>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'dashboard-staff' %}">Usuarios</a>
                            <a class="dropdown-item" href="{% url 'dashboard-product' %}">Productos/Servicios</a>
                        <div class="dropdown-divider"></div>
                    </div>
                        <h6 class="dropdown-header">Almacén</h6>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'solicitud-inventario' %}">Inventario</a>
                            <a class="dropdown-item" href="{% url 'pendientes_entrada' %}">Entradas</a>
                            <a class="dropdown-item" href="{% url 'solicitud-autorizada-firma' %}">Salidas</a>
                            <a class="dropdown-item" href="{% url 'product_selection_resurtimiento' %}">Resurtimiento: Seleccionar Productos</a>
                        <div class="dropdown-divider"></div>
                    {% if usuario.tipo.ver_req == False %}
                    <div class="d-none">
                    {% else %}
                    <div>
                    {% endif %}
                        <h6 class="dropdown-header">Solicitudes</h6>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'solicitud-product-selection' %}">Seleccionar productos/Servicios</a>
                            <a class="dropdown-item" href="{% url 'solicitud-matriz-productos' %}">Solicitudes por producto</a>
                            <a class="dropdown-item" href="{% url 'solicitudes-pendientes' %}">Solicitudes pendientes</a>
                        <div class="dropdown-divider"></div>
                    </div>
                    {% if usuario.tipo.ver_sol == False %}
                    <div class="d-none">
                    {% else %}
                    <div>
                    {% endif %}
                        <h6 class="dropdown-header">Requisiciones</h6>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'solicitud-autorizada' %}">
                                Solicitudes autorizadas
                                {% if conteodeordenes > 0 %}
                                <span class="badge bg-danger">({{conteodeordenes}})</span>
                                <span class="sr-only">unread messages</span>
                                {% endif %}
                            </a>
                        <div class="dropdown-divider"></div>
                    </div>
                    {% if usuario.tipo.ver_req == False %}
                    <div class="d-none">
                    {% else %}
                    <div>
                    {% endif %}
                        <h6 class="dropdown-header">Compras</h6>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'requisicion-autorizada' %}">Requisiciones autorizadas</a>
                        <div class="dropdown-divider"></div>
                    </div>
                    {% if usuario.tipo.ver_req == False %}
                    <div class="d-none">
                    {% else %}
                    <div>
                    {% endif %}
                        <h6 class="dropdown-header">Tesorería</h6>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'compras-autorizadas' %}">Compras autorizadas</a>
                        <div class="dropdown-divider"></div>
                    </div>
                    {% if usuario.tipo.autorizar_sol == False %}
                    <div class="d-none">
                    {% else %}
                    <div>
                    {% endif %}
                        <h6 class="dropdown-header">Autorización</h6>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'solicitud-pendientes-autorizacion' %}">
                                Solicitudes
                                {% if conteo_pendientes > 0 %}
                                <span class="badge bg-danger">({{conteo_pendientes}})</span>
                                <span class="sr-only">unread messages</span>
                                {% endif %}
                            </a>
                            <a class="dropdown-item" href="{% url 'requisicion-autorizacion' %}">Requisiciones</a>
                            <a class="dropdown-item" href="{% url 'autorizacion-oc1' %}">OC Superintendencia</a>
                            <a class="dropdown-item" href="{% url 'autorizacion-oc2' %}">OC Gerencia</a>
                        <div class="dropdown-divider"></div>
                    </div>
                    {% if usuario.tipo.ver_req == False %}
                    <div class="d-none">
                    {% else %}
                    <h6 class="dropdown-header">Reportes</h6>
                    <div class="dropdown-divider"></div>
                    <div>
                    {% endif %}
                        <a class="dropdown-item" href="{% url 'solicitud-matriz' %}">Matriz Solicitudes</a>
                        <a class="dropdown-item" href="{% url 'reporte-entradas' %}">Matriz Entradas</a>
                        <a class="dropdown-item" href="{% url 'reporte-salidas' %}">Matriz Salidas</a>
                        <a class="dropdown-item" href="{% url 'matriz-compras' %}">Matriz Compras</a>
                        <a class="dropdown-item" href="{% url 'matriz-pagos' %}">Matriz Pagos</a>
                    <div class="dropdown-divider"></div>
                    </div>
                    {% if usuario.tipo.ver_req == False %}
                    <div class="d-none">
                    {% else %}
                    <h6 class="dropdown-header">Historicos</h6>
                    <div class="dropdown-divider"></div>
                    <div>
                    {% endif %}
                        <a class="dropdown-item" href="{% url 'historico-inventario' %}">Histórico Inventario</a>
                        <a class="dropdown-item" href="">Histórico Entradas</a>
                        <a class="dropdown-item" href="{% url 'historico-salidas' %}">Histórico Salidas</a>
                        <a class="dropdown-item" href="{% url 'historico-articulos-para-surtir' %}">Historicos Articulos para Surtir</a>
                        <a class="dropdown-item" href="">Historicos Pagos</a>
                    <div class="dropdown-divider"></div>
                    </div>
                </div>
            </div>
    {% else %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a class="navbar-brand text-white" href="#">
                    <img src="https://www.pythonanywhere.com/user/UlisesHuesca/files/home/UlisesHuesca/inventoryproject/templates/partials/SAVIA_Logo.png" alt="SAVIA" width="36" height="30">
                </a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="{% url 'user-register' %}">Registro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'user-login' %}">Login</a>
                    </li>
                </ul>
            </div>
    {% endif %}
        </div>

</nav>
