{% extends 'partials/base_w_nav.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load l10n %}
<html>
<head>
{% block title %}Productos{% endblock %}
</head>
<body>
{% block content %}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Autorizar Requisición: {{requis.folio}}</h5>
            <button class="btn-close" type="button" data-bs-dismiss ="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <table class='table table-dark table striped'>
                    <thead>
                        <tr>
                        <th scope="col">Concepto</th>
                        <th scope="col">Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">Proyecto:</th>
                            <th scope="col">{{requis.orden.proyecto.nombre}}</th>
                        </tr>
                        <tr>
                            <th scope="col">Subproyecto:</th>
                            <th scope="col">{{requis.orden.subproyecto.nombre}}</th>
                        </tr>
                        <tr>
                            <th scope="col">Presupuesto Subproyecto:</th>
                            <th scope="col" id="subproyecto" value={{requis.orden.subproyecto}}>${{requis.orden.subproyecto.presupuesto|floatformat:2}}</th>
                        </tr>
                        <tr style="color:#3e92cc">
                            <th scope="col">Importe aprox.:</th>
                            <th scope="col">${{costo_aprox|floatformat:2}}</th>
                        </tr>
                        <tr>
                            <th scope="col">Porcentaje Gasto/Subproyecto:</th>
                            <th scope="col"> {{porcentaje}}</th>
                        </tr>
                        <tr>
                            <th scope="col">Presupuesto remanente:*</th>
                            <th scope="col" id="resta">${{resta|floatformat:2}}</th>
                        </tr>   
                        <tr>
                            <th scope="col">Comentario Almacén:</th>
                            <th scope="col">{% if requis.comentario_super %} {{requis.comentario_super}} {%else%} No hay comentarios {% endif %}</th>
                        </tr>
                    </tbody>
            </table>
            <div class='box-element-2 table-responsive-sm'>
                <table class='table table-dark table-striped'>
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Artículo</th>
                        <th>Cantidad</th>
                        <th>Comentario</th>
                        <th>Calidad</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for producto in productos %}
                    <tr>
                        <td>{{producto.producto.articulos.producto.producto.codigo}}</td>
                        <td>{{producto.producto.articulos.producto.producto.nombre}}</td>
                        <td><p class='quantity'>{{producto.cantidad|unlocalize}}</p></td>
                        <td>{% if producto.producto.articulos.comentario %}{{producto.producto.articulos.comentario}} {% endif %}</td>
                        <td>
                            {% if producto.producto.articulos.producto.producto.critico.nombre == "Crítico" and producto.producto.articulos.producto.producto.producto_calidad.hecho %}
                                <button type="button" class = "btn btn-danger" data-bs-toggle="modal" data-bs-target="#dialog" hx-target="#document" hx-get="{% url 'select-product-quality' producto.producto.articulos.producto.producto.id %}"><i class="fa-solid fa-q"></i></button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <form action="{% url 'requisicion-autorizar' requis.id%}" method=POST onsubmit="mostrarIndicadorCarga();">
                {% csrf_token %}
                <button id="approve-btn" class="btn btn-success" type="submit">Autorizar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </form>
        </div>
    </div>
</div>
<div id="loadingIndicator" style="display:none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 1000;">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; flex-direction: row; align-items: center; justify-content: center;">
        <img src="{% static 'images/SAVIA_Logo.png' %}" alt="Logo" style="width: 100px; height: 100px; border-radius: 50%; margin-right: 10px;">
        <p style="color: white; margin: 0;">Generando reporte, por favor espera...&nbsp;<i class="fa-solid fa-mug-hot"></i></p>
    </div>
</div>
<script>
function mostrarIndicadorCarga() {
    // Mostrar el indicador de carga
    document.getElementById('loadingIndicator').style.display = 'block';

    // Desactivar el botón de envío para evitar doble clic
    var btn = document.getElementById('submit-button');
    if (btn) {
        btn.disabled = true;
        btn.classList.add('d-none');
    }

    // Retorna true para permitir el envío del formulario
    return true;
}
</script>
{% endblock %}
</body>
</html>