{% extends 'partials/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load crispy_forms_tags %}
{% load l10n %}
<html>
<head>
{% block title %}Productos{% endblock %}
</head>
<body>

{% block content %}
<!-- Esta es la zona donde se crean los mensajes excitantes con sweet alert -->
<div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
</div>
<hr>
<hr>
<h6 class="d-lg-none">&nbsp;</h6>
<h6 class="d-lg-none">&nbsp;</h6>
<h6>&nbsp;</h6>
<div class="row">
    <div class="col-lg-6">
        <div class="card" id="form-wrapper">
            <div class="card-header">
            <!-- Aqui es el encabezado de los filtros -->
                <h3 target="">Vale de Salida</h3>
            </div>
            <div class="card-body" id="Solicitud-info">
                    <form id="myForm" method="POST" id='OrderForm' data-subproyecto-url="{% url 'ajax_load_subproyectos' %}">
                        {% csrf_token %}
                        <div class="row my-5">
                            <label for="form.moneda" class="col-auto col-form-label my-1"><strong><h4>Material entregado a:</h4></strong></label>
                           
                            <div class="col-5">
                                {{ formVale.material_recibido_por|add_class:"form-select my-1 d-none" }}
                            </div>
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>    
                                    <div class="form-floating form-floating-group flex-grow-1">   
                                        <input type="text" list="user" id="txt_usuario" valor="{{user.id}}" placeholder="Usuarios..." class="form-control">
                                        <label for="txt_usuario">Usuarios*</label>
                                    </div>         
                                    <datalist id="user" name='user'>
                                        {% for user in users %}
                                            <option valor="{{user.id}}" value="{{user.staff.first_name}} {{user.staff.last_name}}"></option>
                                        {% endfor %}
                                    </datalist>
                                </div>
                            </div>
                                
                                <div class="col-3">
                                <input id="submit-button" class="btn btn-outline-info btn-block my-4" name="agregar" type="submit" value="Guardar vale">
                                </div>
                                
                        </div>
                    </form>
            </div>
            <hr>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
            <h3 id="vale" vale="{{vale_salida.id|unlocalize}}">Resumen de Salida</h3>
            </div>
            <div class='card-body'>
                <form method="POST">
                <div class="row">
                    <div class="col-lg-8 col-sm-12">
                        <div id="input_subproyecto" class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-box"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">
                                <label  style="font-size:10px; color:gray;" for="producto">Productos*</label>
                                <select style="font-size:16px" class="form-select form-select-sm grupo-entrada" id="producto">
                                    <option style="color:gray;" value="" selected disabled>Productos</option>
                                    {% for producto in productos %}
                                    {% if producto.seleccionado == False %}
                                    <option id="js" target="{{producto.id|unlocalize}}" activo="{{producto.articulos.producto.producto.activo}}" producto="{{producto.articulos.producto}}" cantidad="{{producto.cantidad}}" cantidad_sol ="{{producto.articulos.cantidad}}" stock="{{producto.articulos.producto.cantidad}}">
                                        {{producto.articulos.producto}}
                                    </option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="etiqueta_solicitado" class="col-lg-4 col-sm-6">
                        <div class="alert alert-secondary" role="alert">
                        <h6>Disponible:</h6><h6 style="color: #121212;" id="solicitado"></h6>   
                        </div>
                    </div>
                </div>
                <div class="row">    
                    <div class="col-lg-4">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-gear"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{form.cantidad|add_class:"form-control"|append_attr:"placeholder= Cantidad"}}
                                <label style="color: #121212;" for="id_impuestos_adicionales">Cantidad</label>
                            </div>
                        </div>
                    </div>
                       
                    <div class="col-sm-1 mt-3">
                        <button type ="button" class="btn btn-success update-salida d-none" id="update-salida" name="salida">
                            <i class="fa-solid fa-circle-plus"></i>
                        </button>
                    </div>
                </div>
                <hr>
                <div class ="table-responsive-sm">
                    <table class="table table-ligth table-striped mx-1">
                    {% csrf_token %}
                    <thead>
                        <tr>
                        <th  salidas="{{salidas}}">Código</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Entrada</th>
                        </tr>
                    </thead>
                    <tbody id="mytbl">
                        {% for item in salidas %}
                        <tr>
                            <th scope="col">{{item.producto.articulos.producto.producto.codigo}}</th>
                            <th scope="col">{{item.producto.articulos.producto.producto.nombre}}</th>
                            <th scope="col">{{item.cantidad}}</th>
                            <th scope="col">{{item.precio}}</th>
                            <th scope="col">{{item.entrada}}</th>
                            <th scope="col">
                            <td>
                                <!--<a class="btn btn-outline-info m-1" id="btnActualizar" type="button" data-bs-toggle="modal" data-bs-target="#dialog" hx-target="#document" hx-get="">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>-->
                                <button type="button" class="btn btn-danger m-1" onclick="deleteRow(this)" id="delete" value="Delete" id_salida ="{{item.id|unlocalize}}" cantidad="{{item.cantidad}}" producto="{{item.producto}}" producto_id="{{item.producto.id|unlocalize}}" action="remove">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </form>
                </table>
            </div>
            </div>
            <hr>
            <h5>Artículos: {{cantidad_items}}</h5>

        </div>
    </div>
    <div class="modal fade" id ="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" id="document" role="document" hx-target="this">

        </div>
    </div>
</div>





<!--AJAX CALL-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>

var rows = document.getElementById("mytbl").rows.length
//submit_btn = document.getElementById('submit-button')
console.log('rows',rows)

{% if salidas %}
document.getElementById("submit-button").addEventListener('click',function(){

    if (rows < 1){
        Swal.fire({
                "title":"Error",
                "text":"No tienes productos seleccionados",
                "icon":"error",
            })
            this.setAttribute('name','')
        } else {
            this.setAttribute('name','entrada')

        }

})
{% endif %}

document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('myForm');
        const btnSubmit = document.getElementById('submit-button');
        const form2 = document.getElementById('myForm2');
        const btn = document.getElementById('update-salida');
        const btn_delete = document.getElementById('delete')


        form.addEventListener('submit', function() {
            preventDoubleClick(btnSubmit);    
        });
        btn.addEventListener('click', function(){
            preventDoubleClick(btn);
        });
        btn_delete.addEventListener('click', function(){
            preventDoubleClick(btn_delete);
        });    
    });

    function preventDoubleClick(button) {
    setTimeout(function() {
        button.disabled = true;
    }, 50);
    }      


document.getElementById("producto").addEventListener("change", function(element){
    var select = document.getElementById('producto');
    var current_option = select.options[select.selectedIndex];
    let cantidad = current_option.getAttribute('cantidad');
    let cantidad_sol = current_option.getAttribute('cantidad_sol');
    let stock = current_option.getAttribute('stock');

    console.log('sol:',cantidad_sol)
    console.log('cantidad:', cantidad)
    if (cantidad == 0) {
        if (cantidad_sol > 0) {
            cantidad_pendiente = cantidad_sol
        }
    } else {
    var cantidad_pendiente = cantidad}

    console.log('stock',stock);
    var solicitado = document.getElementById('solicitado');
    solicitado.innerHTML = cantidad_pendiente;
});

document.getElementById("txt_usuario").addEventListener("change", (event)=>{
    var select = document.getElementById("txt_usuario");
    var browserChildren = document.getElementById('user').children;
    var other_select = document.getElementById('id_material_recibido_por');
    console.log(browserChildren)
    //other_select.value = select.valor
    cont = 0

    for(let i = 0; i < browserChildren.length; i++){
        if (browserChildren[i].value === select.value){
            console.log(browserChildren[i])
            console.log(select.value)
            let id = browserChildren[i].getAttribute('valor');
            console.log(id)
            other_select.value = id;
            cont = 1
            }
    }
    //console.log(select.value)
    //El cont = 0 es un indicador/bandera si encuentra al menos una similitud en el for no se activa
    if ((!select.value) || (cont = 0)){
        other_select.value = 0
    }
});

var updateBtn = document.getElementById('update-salida')
let count=0;
let suma = 0;
let suma_iva = 0;

updateBtn.addEventListener('click',function(){
        let vale = document.getElementById('vale');
        salida = vale.getAttribute('vale')
        //Con esta parte mando a llamar al selector es probable que todo lo de arriba esté mal
        var select = document.getElementById('producto');
        var current_option = select.options[select.selectedIndex];
        let value = current_option.value
        var id = current_option.getAttribute('target');
        var producto = current_option.getAttribute('producto');
        //Esta es la cantidad establecida en la requisición
        var cantidad = current_option.getAttribute('cantidad');
        var cantidad_sol = current_option.getAttribute('cantidad_sol');
        console.log(cantidad_sol)
        var quantity = document.getElementById('id_cantidad');
        //Esta es la cantidad comprada de acuerdo a la requisición
        var val_cantidad = quantity.value;


        if (cantidad == 0) {
            if (cantidad_sol > 0) {
                cantidad_pendiente = cantidad_sol
            }
        } else {
            var cantidad_pendiente = cantidad - val_cantidad
        }


        console.log(cantidad_pendiente)
        id_salida = 0


        var action = "add";

        if (!value) {
            Swal.fire({
                    "title":"Error",
                    "text":"Favor de seleccionar algún valor de la lista",
                    "icon":"error",
                })
        //Si la "cantidad requisitada" es menor que "la cantidad comprada"
        } else if (cantidad_pendiente < 0)  {
            Swal.fire({
                    "title":"Error",
                    "text":"La cantidad ingresada es mayor que la cantidad disponible",
                    "icon":"error",
                })
        //Si "la cantidad comprada" es menor que cero
        } else if (quantity.value <= 0 ) {
            Swal.fire({
                    "title":"Error",
                    "text":"La cantidad ingresada debe ser mayor que 0",
                    "icon":"error",
                })
        } else {
            console.log('val:',val_cantidad)
            console.log('salida:',salida)
            console.log('id',id)
            console.log('action',action)
            console.log('id_salida:',id_salida)

            ActualizarArticulos(salida,id,val_cantidad,action,id_salida);
            //current_option.setAttribute("class","d-none");
            //select.value = default_sel;

            //document.getElementById("id_cantidad").value= null;
            //document.getElementById("id_precio_unitario_0").value= null;
        }

})

function deleteRow(element) {
    let vale = document.getElementById('vale');
    salida = vale.getAttribute('vale')
    id_salida = element.getAttribute('id_salida')
    id = element.getAttribute('producto_id');
    val_cantidad = element.getAttribute('cantidad');
    var action = "remove"
    ActualizarArticulos(salida, id, val_cantidad, action, id_salida);
}



function ActualizarArticulos(oc,id,val_cantidad,action){
    console.log('User is logged in, sending data...' )

    var url = '/requisiciones/update_salida/'

    fetch( url, {
        method:'POST',
        headers:{
            'Content-Type':'application/json',
            'X-CSRFToken': csrftoken,
        },
        body:JSON.stringify({'salida':salida, 'id':id, 'val_cantidad':val_cantidad, 'action':action,'id_salida':id_salida})
    })
    .then((response)=>{
        return response.json()
    })
    .then((data)=>{
        console.log('data:', data)
        location.reload()
    })
}

{% if salidas %}
document.addEventListener('DOMContentLoaded', function(){
    var inputUsuario = document.getElementById('txt_usuario');
    var submitButton = document.getElementById('submit-button');

    // Deshabilitar el botón al cargar la página
    submitButton.disabled = true;

    inputUsuario.addEventListener('input', function(){
        // Obtener el valor seleccionado del datalist
        var value = inputUsuario.value;
        var options = document.querySelectorAll('#user option');
        var optionSelected = Array.from(options).find(option => option.value === value);

        // Habilitar o deshabilitar el botón según si se ha seleccionado una opción válida
        if (optionSelected) {
            submitButton.disabled = false;
        } else {
            submitButton.disabled = true;
        }
    });
});
{% endif %}

document.getElementById('id_cantidad').addEventListener('change', function(){
var cantidad = this;
var select = document.getElementById('producto');
var current_option = select.options[select.selectedIndex];
let cantidad_sol = current_option.getAttribute('cantidad_sol');
//let cantidad =  current_option.getAttribute('cantidad');
let activo = current_option.getAttribute('activo')
var boton =document.getElementById('update-salida');

if (cantidad.value <= 0){
    boton.classList.add('d-none')
    Swal.fire({
                "title":"Error",
                "text":"La cantidad capturada no puede ser menor o igual que 0",
                "icon":"error",
            })
} else if (cantidad.value > cantidad_sol.value){
    boton.classList.add('d-none')
    Swal.fire({
                "title":"Error",
                "text":"La cantidad capturada no puede ser mayor que la cantidad disponible",
                "icon":"error",
            })
} else {
    boton.classList.remove('d-none')
}

if (activo == 'True'){
    if (cantidad.value != 1){
        Swal.fire({
                "title":"Error",
                "text":"Cuando tienes seleccionada la referencia la cantidad solo puede ser igual a 1, derivado de la solicitud de activos",
                "icon":"error",
            })
        cantidad.value = 1
    }
}
})

</script>
{% endblock %}
</body>
</html>

