{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<html>
<head>
{% block title %}Pendiente Requisición{% endblock %}
</head>
<body>
{% block content %}
<hr>
<hr>
<hr>
<hr>
<div class = "row mt-2 bg-white">
    <h4>Pendiente Requisición</h4>
    <hr>
    <form method=POST>
    {% csrf_token %}
    <ul class="nav nav-pills" >
        <li class="nav-item mx-2 my-1">
            <button type="submit" class="btn btn-outline-success" name="btnExcel" value='Reporte Excel'>
                <i class="fa-solid fa-file-excel fa-2xl"></i>
            </button>
        </li>
        <li class="nav-item mx-2 my-1">
            <button type="button" class="btn btn-outline-danger">
                <i class="fa-solid fa-file-pdf fa-2xl"></i>
            </button>
        </li>
        <li class="nav-item mx-2 my-1">
            <a type="button" class="btn btn-outline-info" href="{% url 'solicitud-autorizada' %}">
                Solicitud por producto
            </a>
        </li>
    </ul>
    </form>
</div>

<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class = "row mt-2">
    <div class="col-md-10">
        <table class="table bg-white">
            <thead class="text-black" style="background-color: #F5F5F5;">
                <tr>
                    <th scope="col">Folio</th>
                    <th scope="col">Solicitado por</th>
                    <th scope="col">Proyecto</th>
                    <th scope="col">Subproyecto</th>
                    <th scope="col">Operación</th>
                    <th scope="col">Creado</th>
                    <th scope="col">Acción</th>
                    <th scope="col">Documentos</th>
                </tr>
            </thead>
            <tbody>
                {% for orden in ordenes %}
                <tr>
                    <th scope="row">{{orden.folio}}</th>
                    <td>{{orden.staff.staff.first_name}} {{orden.staff.staff.last_name}}</td>
                    <td>{{orden.proyecto.nombre}}</td>
                    <td>{{orden.subproyecto.nombre}}</td>
                    <td>{{orden.operacion}}</td>
                    <td>{{orden.created_at}} </td>
                    <td>
                        <ul class="nav nav-pills">
                            <li class="nav-item mx-2">
                                <a type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target='#dialog' hx-target="#document" hx-get="{% url 'detalle-orden' orden.id %}">Detalle</a>
                            </li>
                            <li class="nav-item mx-2">
                                {% if orden.requisitar == True %}
                                <div class='visible'>
                                {% else %}
                                <div class='invisible'>
                                {% endif %}
                                    <a type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target='#dialog' hx-target="#document" hx-get="{% url 'requisicion-detalle' orden.id%}">Requisitar</a>
                                </div>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul class="nav nav-pills">
                            <li class="nav-item mx-2">
                                <a type="button" class="btn btn-outline-info" href="{% url 'solicitud-pdf' orden.id%}">
                                    <i class="fa-solid fa-file-pdf fa-2xl"></i>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

<!--Este es el modal-->
<div class="modal fade" id ="dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" id="document" role="document">

    </div>
</div>



</div>

{% endblock %}
</body>
</html>