{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
<html>
<head>
{% block title %}Crear Solicitud{% endblock %}
</head>
<body>
{% block content %}
<hr>
<hr>
<hr>
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <div id="Solicitud-info">
                <hr>
					<h2>Información de Solicitud:</h2>
					<hr>
					<form method="POST" id='OrderForm' data-subproyecto-url="{% url 'ajax_load_subproyectos' %}" novalidate>
                        {% csrf_token %}
                            <div class="row my-2">
                                <label for="form.proyecto" class="col-auto col-form-label my-1"><strong>Proyecto*</strong></label>
                                <div class="col-4">

                                    <div class="input-group d-none">
                                    {{form.proyecto|add_class:"form-select"}}
                                    </div>
                                    
                                    <div class="col-sm-12">
                                    <input type="text" list="proyectos" id="txt_proyectos" valor="{{proyectos.id}}" placeholder="Proyecto..." class="form-control">
                    
                                    <datalist id="proyectos" name='proyectos'>
                                    {% for item in proyectos %}
                                     <option valor="{{item.id}}" value="{{item.nombre}} {{item.descripcion}}"></option>
                                     {% endfor %}
                                    </datalist>
                                    </div>




                                </div>
                            </div>
                            <div class="row my-2">
                            <label for="form.subproyecto" class="col-auto col-form-label my-1"><strong>Subproyecto*</strong></label>
                            <div class="col-8">
                                <div class="input-group">
                                <div class="selector">
                                    <select class="form-select form-select-sm my-1 d-none" style="height:35px" id="subproyecto">
                                        <option id="default_sel">      </option>
                                        {% for subproyecto in subproyectos %}
                                        <option id="js" target="{{subproyecto.proyecto.id}}" sub="{{subproyecto.id}}">
                                        {{subproyecto.nombre}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                </div>
                            </div>

                                <div class="col-4 d-none">
                                    <div class="input-group">
                                    {{form.subproyecto|add_class:"form-select"}}
                                    </div>
                                </div>
                            </div>

                            <div class="row my-2">
                                <label for="form.operacion" class="col-auto col-form-label my-1"><strong>Área*</strong></label>
                                <div class="col-4">
                                    <div class="input-group">
                                    {{form.area|add_class:"form-select"}}
                                    </div>
                                </div>
                            </div>


                            <div class="row my-2">
                            <label class="col-auto col-form-label" superintendentes='{{superintendentes}}'><strong>Superintendente*</strong></label>
                            <div class="col-4">
                                <div class="input-group">
                                <span class="input-group-text my-1" style="height:35px"><i class="fa-solid fa-user"></i></span>
                                <div class="selector">
                                    <select class="form-select form-select-sm my-1" style="height:35px" id="superintendentes">
                                    {% if usuario.tipo.superintendente %}
                                    {% for superintendente in superintendentes %}
                                    <option id="js" target="{{supervisor.id}}">
                                    {{superintendente.staff.first_name}} {{superintendente.staff.last_name}}
                                    </option>
                                    {% endfor %}
                                    {% else %}
                                    <option id="default_sel">      </option>
                                    {% for superintendente in superintendentes %}
                                    <option id="js" target="{{superintendente.id}}">
                                    {{superintendente.staff.first_name}} {{superintendente.staff.last_name}}
                                    </option>
                                    {% endfor %}
                                    {% endif %}
                                    </select>
                                </div>
                                </div>
                            </div>
                            </div>
                            <div class="row my-2 d-none">
                                <label for="form.superintendente" class="col-auto col-form-label my-1"><strong>Superintendente*</strong></label>
                                <div class="col-3">
                                <!--<div class="input-group mb-3">-->
                                    <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                                    {{form.superintendente|add_class:"form-control"}}
                                </div>
                            </div>
                            <div class="row my-2">
                            <label class="col-auto col-form-label" supervisor='{{supervisor}}'><strong>Supervisor*</strong></label>
                            <div class="col-4">
                                <div class="input-group">
                                <span class="input-group-text my-1" style="height:35px"><i class="fa-solid fa-user"></i></span>
                                <div class="selector">
                                    <select class="form-select form-select-sm my-1" style="height:35px" id="supervisores">
                                    {% if usuario.tipo.supervisor %}
                                    {% for supervisor in supervisores %}
                                    <option id="js" target="{{supervisor.id}}">
                                    {{supervisor.staff.first_name}} {{supervisor.staff.last_name}}
                                    </option>
                                    {% endfor %}
                                    {% else %}
                                    <option id="default_sel">      </option>
                                    {% for supervisor in supervisores %}
                                    <option id="js" target="{{supervisor.id}}">
                                    {{supervisor.staff.first_name}} {{supervisor.staff.last_name}}
                                    </option>
                                    {% endfor %}
                                    {% endif %}
                                    </select>
                                </div>
                                </div>
                            </div>
                            </div>
                            <div class="row my-2 d-none">
                                <label for="form.supervisor" class="col-auto col-form-label my-1 d-none"><strong>Supervisor*</strong></label>
                                <div class="col-3">
                                <!--<div class="input-group mb-3">-->
                                    <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                                    {{form.supervisor|add_class:"form-control"}}
                                </div>
                            </div>
                        <input class="btn btn-outline-info btn-block my-2" name="agregar" type="submit" value="Agregar Solicitud">
                    </form>
            </div>
            <hr>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box-element">
            {% include "solicitud/product_edit.html" %}
        </div>
    </div>
    <div class="modal fade" id ="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" id="document" role="document" hx-target="this">

        </div>
    </div>
</div>
<!--AJAX CALL-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>

    ;(function(){
    const modal = new bootstrap.Modal(document.getElementById('dialog'))

    htmx.on('htmx:beforeSwap',(e)=>{
        if (e.detail.target.id === "document" && !e.detail.xhr.response)
        modal.hide()
    })
    })()

    var myModal = document.getElementById('dialog')

    myModal.addEventListener('hidden.bs.modal', function (event) {
    location.reload();
    })

    document.getElementById("txt_proyectos").addEventListener("change", (event)=>{
    var select = document.getElementById("txt_proyectos");
    console.log(select.value)
    var browserChildren = document.getElementById('proyectos').children;
    //var browserChildren = document.getElementById('proveedor')
    //var dataList = document.getElementById(browserChildren.getAttribute("valor"))
    var other_select = document.getElementById('id_proyecto');


    cont = 0

    for(let i = 0; i < browserChildren.length; i++){
        console.log(browserChildren[i].value)

        if (browserChildren[i].value === select.value) {
            console.log(browserChildren[i])
            console.log(select.value)
            let id = browserChildren[i].getAttribute('valor');
            console.log(id)
            other_select.value = id;
            var target = id;
            cont = 1
            } //else {
            //    console.log(browserChildren[i].value)
            //  console.log(select)
           // }
    }
    //console.log(select.value)
    //El cont = 0 es un indicador/bandera si encuentra al menos una similitud en el for no se activa
    if ((!select.value) || (cont = 0)){
        other_select.value = 0
    }
    //var select2 = document.getElementById("id_proyecto");
    var text_subproyectos = document.getElementById("subproyecto")
    var subproyectos = text_subproyectos.children;
    //var current_option2 = select2.options[select.selectedIndex];
    
    var sub = document.getElementById('id_subproyecto')
    console.log(target)
    text_subproyectos.setAttribute('class','form-select form-select-sm my-1')


    text_subproyectos.value = ""
    sub.value =""


     for(let i = 0; i < subproyectos.length; i++){
        proyecto_num  = subproyectos[i].getAttribute('target')
        if (proyecto_num === target) {
            subproyectos[i].setAttribute('class','')
        } else {
            subproyectos[i].setAttribute('class','d-none')
     }
     }
});


   // document.getElementById("id_proyecto").addEventListener("change", function(event){
   // var select = document.getElementById("id_proyecto");
   // var text_subproyectos = document.getElementById("subproyecto")
   // var subproyectos = text_subproyectos.children;
   // var current_option = select.options[select.selectedIndex];
   // var target = current_option.value
   // var sub = document.getElementById('id_subproyecto')
   // console.log(target)

   // text_subproyectos.setAttribute('class','form-select form-select-sm my-1')


   // text_subproyectos.value = ""
   // sub.value =""


    // for(let i = 0; i < subproyectos.length; i++){
    //    proyecto_num  = subproyectos[i].getAttribute('target')


      //  if (proyecto_num === target) {
       //     subproyectos[i].setAttribute('class','')
        //} else {
         //   subproyectos[i].setAttribute('class','d-none')
     //}
     //}

    //});

    document.getElementById("subproyecto").addEventListener("change", function(event){
        var select = document.getElementById("subproyecto");
        var current_option = select.options[select.selectedIndex];
        var target = current_option.getAttribute('sub')
        console.log(target)
        var other_select = document.getElementById('id_subproyecto')
        other_select.value = target
    });

    document.getElementById("supervisores").addEventListener("change", function(event){
    var select = document.getElementById("supervisores");
    var current_option = select.options[select.selectedIndex];
    var target = current_option.getAttribute('target')
    var other_select = document.getElementById('id_supervisor')
    other_select.value = target
    });
    document.getElementById("superintendentes").addEventListener("change", function(event){
    var select = document.getElementById("superintendentes");
    var current_option = select.options[select.selectedIndex];
    var target = current_option.getAttribute('target')
    var other_select = document.getElementById('id_superintendente')
    other_select.value = target
    });
</script>
{% endblock %}
</body>
</html>