{% extends 'partials/base_w_nav.html' %}
{% load crispy_forms_tags %}
{% load static %}
<html>
<head>
{% block title %}Solicitudes{% endblock %}
</head>
<body>
{% block content %}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Solicitud: {{solicitud.folio}}</h5>
            <button class="btn-close" type="button" data-bs-dismiss ="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <div class="card">
                    <h5 class="card-header" style="color:black">Trazabilidad</h5>
                <div class="card-body">
                    <div class="accordion accordion-flush" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                {% if solicitud.autorizar == null %}
                                <button class="accordion-button collapsed btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Solicitud No Autorizada aún&nbsp <strong>{{solicitud.folio}}</strong>&nbsp <i class="fa-solid fa-hourglass-empty"></i>
                                {% elif solicitud.autorizar %}
                                <button class="accordion-button collapsed btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Solicitud Autorizada&nbsp <strong>{{solicitud.folio}}</strong>&nbsp<i class="fa-solid fa-circle-check"></i>&nbsp Autorizada: {{solicitud.approved_at|date:"d/m/Y" }}
                                {% elif solicitud.autorizar == False %}
                                <button class="accordion-button collapsed  btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Solicitud Cancelada&nbsp <strong>{{solicitud.folio}}</strong>&nbsp <i class="fa-solid fa-circle-check"></i>
                                {% endif %}
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body" style="color:black">
                                {% for producto in productos_solicitados %}
                                    <ul>
                                        <li>{{producto.producto}} &nbsp| &nbspCantidad:{{producto.cantidad}}</li>
                                    </ul>
                                {% endfor %}
                                <p>Supervisor: {{solicitud.supervisor.staff.first_name}} {{solicitud.supervisor.staff.last_name}}</p>
                                <p>Superintendente: {{solicitud.superintendente.staff.first_name}} {{solicitud.superintendente.staff.last_name}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            {% if solicitud.autorizar%}
                                {% for requi in solicitud.requis.all %}
                                <h2 class="accordion-header" id="headingSol">
                                    {% if requi.autorizar %}
                                    <button class="accordion-button collapsed btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        Requisición:&nbsp<strong>{{ requi.folio }}</strong>&nbsp  <i class="fa-solid fa-circle-check"></i>&nbsp Autorizada: {{ requi.approved_at }}
                                    {% elif requi.autorizar == False %}
                                    <button class="accordion-button collapsed btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        Requisición:&nbsp<strong>{{ requi.folio }}</strong>&nbsp  <i class="fa-solid fa-circle-check"></i>&nbsp Cancelada
                                    {% else %}
                                    <button class="accordion-button collapsed btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        Requisición:&nbsp<strong>{{ requi.folio }}</strong>&nbsp  <i class="fa-solid fa-circle-check"></i>&nbsp No Autorizada Aún
                                    {% endif %}
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body" style="color:black">
                                    </div>
                                </div>
                                    {% if requi.autorizar %}
                                        {% for compra in requi.compras.all %}
                                            <h2 class="accordion-header" id="headingSol">
                                                {% if compra.autorizado2 %}
                                                <button class="accordion-button collapsed btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    Compra:&nbsp<strong> {{ compra.folio }}</strong>&nbsp<i class="fa-solid fa-circle-check"></i> &nbsp Autorizada: {{ compra.autorizado_at_2|date:"d/m/Y"}}
                                                {% elif compra.autorizado1 %}    
                                                <button class="accordion-button collapsed btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    Compra:&nbsp<strong> {{ compra.folio }}</strong>&nbsp<i class="fa-solid fa-circle-check"></i> &nbsp Autorizada: {{ compra.autorizado_at|date:"d/m/Y"}}&nbsp|Falta Autorización Gerencia
                                                {% elif compra.autorizado2 == False %}
                                                <button class="accordion-button collapsed btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    Compra:&nbsp<strong> {{ compra.folio }}</strong>&nbsp<i class="fa-solid fa-circle-check"></i> &nbsp Cancelada: {{ compra.autorizado_at_2|date:"d/m/Y"}}| Cancelada Gerencia
                                                {% elif compra.autorizado2 == False %}
                                                <button class="accordion-button collapsed btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    Compra:&nbsp<strong> {{ compra.folio }}</strong>&nbsp<i class="fa-solid fa-circle-check"></i> &nbsp Cancelada: {{ compra.autorizado_at_2|date:"d/m/Y"}}| Cancelada Sup. Adm.
                                                {% elif compra.complete  and compra.autorizado1 == None %}
                                                <button class="accordion-button collapsed  btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    Compra:&nbsp<strong> {{ compra.folio }}</strong>&nbsp<i class="fa-solid fa-circle-check"></i>Falta Autorización Sup. Adm.
                                                {% elif compra.complete == False %}
                                                <button class="accordion-button collapsed  btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    Compra:&nbsp<strong> {{ compra.folio }}</strong>&nbsp<i class="fa-solid fa-circle-check"></i>Orden de Compra en Proceso
                                                {% endif %}
                                                </button>
                                            </h2>
                                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                <div class="accordion-body" style="color:black">
                                                    <p>Creada: {{ compra.created_at|date:"d/m/Y" }}</p>
                                                </div>
                                            </div>
                                            {% if compra.autorizado2 %}
                                                {% for pago in compra.pagos.all %}
                                                    <h2 class="accordion-header" id="headingSol"></h2>
                                                        {% if pago.hecho %}
                                                        <button class="accordion-button collapsed btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                            Pago: &nbsp<strong>{{pago.folio}}</strong>&nbsp<i class="fa-solid fa-circle-check"></i> &nbspRealizado: {{ pago.pagado_real|default:pago.pagado_date}} 
                                                        </button>
                                                        {% endif %}
                                                    </h2>
                                                {% endfor %}
                                                {% for entrada in compra.vale_entrada.all %}
                                                    <h2 class="accordion-header" id="headingSol"></h2>
                                                        <button class="accordion-button collapsed btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                            Entrada: &nbsp<strong>{{entrada.folio}}</strong>&nbsp<i class="fa-solid fa-circle-check"></i> 
                                                        </button> 
                                                    </h2>   
                                                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                        <div class="accordion-body" style="color:black">
                                                            Cantidad: {{ entrada.cantidad }} Fecha: {{ entrada.fecha }}
                                                        </div>
                                                    </div>   
                                                {% endfor %}
                                            {% endif %}
                                              
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                {% for vale in solicitud.vale_salida.all %}
                                <h2 class="accordion-header" id="headingSol">
                                    <button class="accordion-button collapsed btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        Salida: &nbsp<strong>{{vale.id}}</strong>&nbsp <i class="fa-solid fa-circle-check"></i> Realizado:{{vale.created_at}}
                                    </button>
                                </h2>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <form method= "POST" action="">
                {% csrf_token %}
                <!--<input class="btn btn-success" type="submit" value='Requisición'>-->
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>