{% extends 'partials/base_w_nav.html' %}
{% load crispy_forms_tags %}
{% load static %}
<html>
<head>
{% block title %}Solicitudes{% endblock %}
</head>
<body>
{% block content %}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Solicitud: {{solicitud.folio}}</h5>
            <button class="btn-close" type="button" data-bs-dismiss ="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <div class="card">
                    <h5 class="card-header" style="color:black">Status Solicitud</h5>
                <div class="card-body">
                    <div class="accordion accordion-flush" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                {% if solicitud.autorizar == null %}
                                <button class="accordion-button collapsed btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Status: Solicitud NO AUTORIZADA AÚN<i class="fa-solid fa-hourglass-empty"></i>
                                {% else %}
                                <button class="accordion-button collapsed btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Status: Solicitud AUTORIZADA <i class="fa-solid fa-circle-check"></i>
                                {% endif %}
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body" style="color:black">
                                    <p><strong>La solicitud contiene {{num_prod_sol}} items</strong></p>
                                    <p class="card-text" style="color:black">El material fue solicitado por: {{solicitud.staff.staff.first_name}} {{solicitud.staff.staff.last_name}}</p>
                                    {% if solicitud.autorizar == null %}
                                    <p class="card-text" style="color:#980F0F">Esta solicitud aún no ha sido autorizada</p>
                                    {% else %}
                                    <p class="card-text" style="color:black">Esta solicitud fue autorizada por: {{solicitud.sol_autorizada_por.staff.first_name}} {{solicitud.sol_autorizada_por.staff.last_name}}</p>
                                    <p class="card-text" style="color:black">Fecha: {{solicitud.approved_at}}</p>
                                    {% endif %}
                                    <p class="card-text" style="color:black"><strong>Los items son los siguientes:</strong></p>
                                    {% for item in product_solicitudes %}
                                    <p class="card-text" style="color:black">Código: {{item.producto.producto.codigo}} Nombre: {{item.producto.producto.nombre}} Cantidad: {{item.cantidad}}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            {% if solicitud.autorizar == True %}
                            <h2 class="accordion-header" id="headingSol">
                                {% if exist_req == False %}
                                <button class="accordion-button collapsed btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Status: Requisición No Creada<i class="fa-solid fa-circle-xmark"></i>
                                {% else %}
                                <button class="accordion-button collapsed btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Status: Requisición Creada<i class="fa-solid fa-circle-check"></i>
                                {% endif %}
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body" style="color:black">
                                    <p><strong>La requisición contiene {{num_prod_req}} items</strong></p>
                                    {% if requi.autorizar == null %}
                                    <p class="card-text" style="color:#980F0F">Esta requisición aún no ha sido autorizada</p>
                                    {% else %}
                                    <p class="card-text" style="color:black">Esta requisición fue autorizada por: {{requi.requi_autorizada_por.staff.first_name}} {{requi.requi_autorizada_por.staff.last_name}}</p>
                                    <p class="card-text" style="color:black">Fecha: {{requi.approved_at}}</p>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="accordion-item">
                            {% if oc.complete == True %}
                            <h2 class="accordion-header" id="headingSol">
                                {% if oc.autorizado_date1 != null and oc.autorizado_date2 %}
                                <button class="accordion-button collapsed btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Status: Compra Autorizada<i class="fa-solid fa-circle-xmark"></i>
                                {% else %}
                                <button class="accordion-button collapsed btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Status: Requisición realizada<i class="fa-solid fa-circle-check"></i>
                                {% endif %}
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body" style="color:black">
                                    <p><strong>La requisición contiene {{num_prod_req}} items</strong></p>
                                    {% if oc.autorizado_date2 == null %}
                                        {% if oc.autorizado_date1 == null %}
                                        <p class="card-text" style="color:#980F0F">Esta OC aún no ha sido autorizada</p>
                                        {% else %}
                                        <p class="card-text" style="color:#980F0F">Esta OC aún ha sido autorizada solo por {{oc.oc_autorizada_por.staff.first_name}} {{oc.oc_autorizada_por.staff.last_name}}</p>
                                        {% endif %}
                                    {% else %}
                                    <p class="card-text" style="color:black">Esta OC ya fue autorizada por: {{oc.oc_autorizada_por.staff.first_name}} {{oc.oc_autorizada_por.staff.last_name}}</p>
                                    {% endif %}
                                    <p class="card-text" style="color:black">Fecha: {{oc.autorizado_date}}</p>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <form method= "POST" action="">
                {% csrf_token %}
                <!--<input class="btn btn-success" type="submit" value='Requisición'>-->
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>