{% load l10n %}
<html>
<body>
<div class = "card bg-white">
    
        <div class="card-header">
            <h3>Resumen de solicitud</h3>
        </div>
    <div class="col-3 my-2">
        <a class="btn btn-outline-info" href="{% url 'solicitud-product-selection' %}">
            <i class="fa-solid fa-arrow-left">&nbsp;Agregar productos</i>
        </a>
    </div>
    
           
    <div class ="table-responsive-sm">
        <table class="table table-ligth table-striped mx-1">
            <form method="POST">
            {% csrf_token %}
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Código</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Unidad</th>
                    <th scope="col">Comentario</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td><img class="row-image" src="{{producto.producto.producto.imageURL}}"></td>
                    <td>{{producto.producto.producto.codigo}}</td>
                    <td>{{producto.producto.producto.nombre}}</td>
                    <td>{{producto.cantidad}}</td>
                    <td>{{producto.producto.producto.unidad}}</td>
                    <td>{% if producto.comentario %} {{producto.comentario}} {% endif %}</td>
                    <td>
                        <a class="btn btn-outline-info" id="btnActualizar" type="button" data-bs-toggle="modal" data-bs-target="#dialog" hx-target="#document" hx-get="{% url 'product-quantity-edit' producto.id %}">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a class="btn btn-outline-info" id="btnActualizar" type="button" data-bs-toggle="modal" data-bs-target="#dialog" hx-target="#document" hx-get="{% url 'product-comment-add' producto.id %}">
                            <i class="fa-regular fa-comment"></i>
                        </a>
                        <button type="button" class="btn add-btn update-cart" style="color:ghostwhite; background-color:#980F0F ;" value="Delete" data-product={{producto.producto.id|unlocalize}} data-action="remove" aria-label="Close">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </form>
        </table>
    </div>
    <hr>     
    <h5>Artículos: {{orden.get_cart_quantity}}</h5>
</div>
</body>
</html>