{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
<html>
<head>
{% block title %}Matriz Pagos{% endblock %}
</head>
<body>
{% block content %}
<div class = "row mt-2 bg-white" id="response-div">
        <div class="col-12">
            <div class="card card-body">
                <hr>
                <hr>
                <h5>Filtro de Pagos</h5>
                <hr>
                {% csrf_token %}
                <form method="GET">
                <div class="row g-12">
                    <label for="myfilter.form.id" class="col-sm-auto col-form-label text-right my-2"><strong>Folio:</strong></label>
                    <div class="col-auto my-2">
                        {{myfilter.form.id|add_class:'form-control'}}
                    </div>
                    <label for="myfilter.form.proveedor" class="col-sm-auto col-form-label text-right my-2"><strong>Proveedor:</strong></label>
                    <div class="col-auto my-2">
                        {{myfilter.form.proveedor|add_class:'form-control'}}
                    </div>
                    <label for="myfilter.form.monto_pagadp" class="col-sm-auto col-form-label text-right my-2"><strong>Requisición:</strong></label>
                    <div class="col-auto my-2">
                        {{myfilter.form.monto_pagado|add_class:'form-control'}}
                    </div>
                    <label for="myfilter.form.proyecto" class="col-sm-auto col-form-label text-right"><strong>Proyecto:</strong></label>
                    <div class="col-auto my-2">
                        {{myfilter.form.proyecto|add_class:'form-control'}}
                    </div>
                </div>
                <div class="row g-12">
                    <label for="myfilter.form.subproyecto" class="col-sm-1 col-form-label text-right"><strong>Subproyecto:</strong></label>
                    <div class="col-2">
                        {{myfilter.form.subproyecto|add_class:'form-control'}}
                    </div>
                    <label for="myfilter.form.start_date" class="col-sm-1 col-form-label text-right"><strong>Desde:</strong></label>
                    <div class="col-2">
                        {% render_field myfilter.form.start_date type="date" class="form-control" %}
                    </div>
                    <label for="myfilter.form.end_date" class="col-sm-1 col-form-label text-right"><strong>Hasta:</strong></label>
                    <div class="col-2">
                        {% render_field myfilter.form.end_date type="date" class="form-control" %}
                    </div>
                    <div class="col-2">
                        <button class="btn btn-outline-success btn-block" type="submit" value="Buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
                <hr>
                </form>
                <form method=POST>
                    {% csrf_token %}
                    <ul class="nav nav-pills">
                        <li class="nav-item mx-2">
                            <button type="submit" class="btn btn-outline-success" value='Reporte Excel'>
                                <i class="fa-solid fa-file-excel fa-2xl"></i>
                            </button>
                        </li>
                        <li class="nav-item mx-2">
                            <button type="button" class="btn btn-outline-danger">
                               <i class="fa-solid fa-file-pdf fa-2xl"></i>
                            </button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <!-- Aquí terminan el encabezado de los filtros -->

<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class = "row mt-2">
    <div class="col-md-12">
        <table class="table bg-white">
            <thead class="text-black" style="background-color: #F5F5F5;">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Compra</th>
                    <th scope="col">Solicitado por</th>
                    <th scope="col">Proyecto</th>
                    <th scope="col">Subproyecto</th>
                    <th scope="col">Autorizado</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Importe</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for pago in pagos %}
                <tr>
                    <th scope="row">{{pago.id}}</th>
                    <td>{{pago.oc.id}}</td>
                    <td>{{pago.oc.req.orden.staff.staff.first_name}} {{pago.oc.req.orden.staff.staff.last_name}}</td>
                    <td>{{pago.oc.req.orden.proyecto.nombre}}</td>
                    <td>{{pago.oc.req.orden.subproyecto.nombre}}</td>
                    <td>{{pago.oc.req.orden.staff.staff}} </td>
                    <td>{{pago.oc.proveedor}}</td>
                    <td>{{pago.monto}}</td>
                    <td>{{pago.pagado_date}}</td>
                    <td>
                        <ul class="nav nav-pills">
                            <li class="nav-item mx-1">
                                <a type="button" class="btn btn-outline-info" href="" download><i class="fa-solid fa-file-pdf"></i></a>
                            </li>
                            <li class="nav-item mx-1">
                                <a type="button" class="btn btn-outline-info" href="{{pago.comprobante_pago.url}}" download><i class="fa-solid fa-file-invoice-dollar"></i></a>
                            </li>
                            <li class="nav-item mx-1">
                                <a type="button" class="btn btn-outline-light" style="background-color:#990f0f"><i class="fa-solid fa-file-pdf"></i></a>
                            </li>
                            <li class="nav-item mx-1">
                                <a type="button" class="btn btn-outline-light" style="background-color:#9a9b9d"><i class="fa-solid fa-file-code"></i></a>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

<!--Este es el modal-->
<div class="modal fade" id ="dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" id="document" role="document">

    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
var dataSpyList = [].slice.call(document.querySelectorAll('[data-bs-spy="scroll"]'))
dataSpyList.forEach(function (dataSpyEl) {
  bootstrap.ScrollSpy.getInstance(dataSpyEl)
    .refresh()
});
//var modal = document.getElementById('dialog')
//modal.on('hidden.bs.modal', function () {
//    location.reload();
//});

</script>
{% endblock %}
</body>
</html>