{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load l10n %}
{% load widget_tweaks %}
<html>
<head>
{% block title %}Facturas{% endblock %}
</head>
<body>

{% block content %}
<!-- Esta es la zona donde se crean los mensajes exitantes con sweet alert -->
<div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
              {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% elif message.tags == "warning" %}
                <script>
                Swal.fire({
                    title: "Advertencia",
                    text: "{{message}}",
                    icon: "warning"
                })
                </script>

                {% elif message.tags == "success" %}
                <script>
                Swal.fire({
                    title: "Excelente",
                    text: "{{message}}",
                    icon: "success"
                })
                </script>

                {% else %}
                <script>
                Swal.fire({
                    title: "Información",
                    text: "{{message}}",
                    icon: "info"
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
</div>
<hr>
<hr>
<hr>
<hr>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title" id="compra" value="{{compra.id}}" compra_pagos="{{compra_pagos}}">Facturas de Compra: {{compra.get_folio}}</h5>
        </div>

        <div class="card-body">
                <table class='table table-striped'>
                    <thead>
                        <tr>
                        <th scope="col">Proveedor:</th>
                        <th scope="col">{{compra.proveedor.nombre.razon_social}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pago in pagos %}
                        <tr>
                        <th scope="col">Pago:</th>
                        <th scope="col">
                          
                            <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#pdfModal{{ pago.id|unlocalize }}" title="Ver comprobante de pago">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                           
                             <!-- Modal con visor de PDF -->
                             <div class="modal fade" id="pdfModal{{ pago.id|unlocalize }}" tabindex="-1" aria-labelledby="pdfModalLabel{{ pago.id|unlocalize }}" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="pdfModalLabel{{ pago.id|unlocalize }}">Comprobante de Pago</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <iframe src="{{ pago.comprobante_pago.url }}#zoom=80" width="100%" height="750px"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target='#dialog' data-bs-toggle="tooltip" data-bs-placement="top" title="Cambiar comprobante" hx-target="#document" hx-get="{% url 'edit-comprobante-pago' pago.id %}">               
                                <i class="fa-solid fa-cloud-arrow-up"></i>
                            </a>   
                            
                        </th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <hr>
                <table class='table table-striped'>
                    <thead>
                        <tr>
                        <th scope="col">Importe Compra</th>
                        <th id="importe" value={{compra.costo_oc}} moneda={{compra.moneda.nombre}} scope="col">{{compra.costo_oc}}</th>
                        </tr>
                    </thead>
                </table>

                <table class='table table-striped'>
                    <thead>
                        <tr>
                            <th scope="col-3">#</th>
                            <th scope="col-2">Fecha</th>
                            <th scope="col-3">Hora</th>
                            <th scope="col-3">Comentario</th>
                            <th scope="col-2">PDF</th>
                            <th scope="col-2">XML</th>
                            <th scope="col-2">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for p in facturas %}
                        <tr>
                            <th scope="row">{{p.id}}</th>
                            <td>{{p.fecha_subido}}</td>
                            <td>{{p.hora_subido}}</td>
                            <td>{{p.comentario}}</td>
                            {% if p.factura_pdf %}
                            <td>
                                  
                                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#pdfModal{{ p.id|unlocalize }}" title="Ver representación impresa Factura">
                                     <i class="fa-solid fa-eye"></i>
                                </button>
                               
                                <!-- Modal con visor de PDF -->
                                <div class="modal fade" id="pdfModal{{p.id|unlocalize }}" tabindex="-1" aria-labelledby="pdfModalLabel{{p.id|unlocalize }}" aria-hidden="true">
                                    <div class="modal-dialog modal-xl">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="pdfModalLabel{{p.id|unlocalize }}">Ver factura</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <iframe src="{{ p.factura_pdf.url }}#zoom=80" width="100%" height="750px"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            
                            {% else %}
                            <td> </td>
                            {% endif %}
                            {% if p.factura_xml %}
                            <td>
                                <a href="{{p.factura_xml.url}}" download class="btn btn-outline-info">
                                    <i class="fa-solid fa-file-invoice-dollar"></i>
                                </a>
                            </td>
                            {% else %}
                            <td> </td>
                            {% endif %}
                            <td>
                                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmModal" onclick="setDeleteUrl({{ p.id | unlocalize }})">
                                    <i class="fa-regular fa-trash-can"></i>
                                </button>
                            </td>
                        </tr>
                   {% endfor %}
                   </tbody>
                </table>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="row ms-3 my-2">
                <div class="form-check form-switch col-sm">
                <label for="form.tesoreria_local" class="form-check-label"><strong>Facturas Completas</strong></label>
                {{form.facturas_completas|add_class:"form-check-input"}}
            </div>
            <hr>
                <ul class="nav">
                    <li class="nav-item">
                        <a type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target='#dialog' hx-target="#document" hx-get="{% url 'factura-nueva' compra.id %}">
                            Facturas <i class="fa-solid fa-file-arrow-up"></i>
                        </a>
                    </li>
                    {% if usuario.tipo.tesoreria %}
                        <li class="nav-item ms-4">
                            <button type="submit" name="btn_factura_completa" class="btn btn-success">Guardar status</button>
                        </li>
                    {% endif %}
                    <li class="nav-item ms-4">      
                        <button type="submit" name="salir" class="btn btn-secondary">Cerrar</button>
                    </li>
                </ul>
        </form>
    </div>   
</div>
<!--Este es el modal-->
<div class="modal fade" id ="dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" id="document" role="document" hx-target="this">

    </div>
</div>
<!-- Modal de Confirmación eliminación-->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Eliminar Factura</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="deleteForm" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="comentario" class="form-label">Comentario</label>
                        <input type="text" class="form-control" id="comentario" name="comentario" placeholder="Escribe un comentario" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" onclick="enviarFormulario()">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    ;(function(){
        const modal = new bootstrap.Modal(document.getElementById('dialog'))
    
        htmx.on('htmx:beforeSwap',(e)=>{
            if (e.detail.target.id === "document" && !e.detail.xhr.response)
            modal.hide()
        })
    })()
    var myModal = document.getElementById('dialog')
    
    myModal.addEventListener('hidden.bs.modal', function (event) {
      location.reload();
    })
//Parte del modal factura eliminar
function setDeleteUrl(facturaId) {
    const deleteForm = document.getElementById('deleteForm');
    const baseUrl = "{% url 'factura-eliminar' 0 %}"; // URL base con un placeholder

    // Obtener el parámetro 'next' de la URL actual
    const urlParams = new URLSearchParams(window.location.search);
    const nextParam = urlParams.get('next');  // Captura el valor de 'next' si está presente

    // Construir la URL de eliminación con el ID de la factura
    let deleteUrl = baseUrl.replace('0', facturaId);
    
    // Agregar el parámetro 'next' si existe
    if (nextParam) {
        deleteUrl += `?next=${encodeURIComponent(nextParam)}`;
    }

    // Establecer la acción del formulario
    deleteForm.action = deleteUrl;
}

function enviarFormulario() {
    const comentario = document.getElementById('comentario').value;
    if (!comentario) {
        alert("Por favor, escribe un comentario antes de continuar.");
    } else {
        document.getElementById('deleteForm').submit();  
    }
}
;(function() {
    const modal = new bootstrap.Modal(document.getElementById('dialog'))

    htmx.on('htmx:beforeSwap', (e) => {
        if (e.detail.target.id === "document" && !e.detail.xhr.response)
            modal.hide()
    })
})()

// Recargar la página cuando se cierre el modal de confirmación
var confirmModal = document.getElementById('confirmModal');
confirmModal.addEventListener('hidden.bs.modal', function (event) {
    location.reload();  
});
</script>
{% endblock %}
</body>
</html>