{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
<html>
<head>
{% block title %}Activos{% endblock %}
</head>
<body>
{% block content %}
<hr>
<hr>
<hr>
<div class = "row mt-2 bg-white" id="response-div">
        <div class="col-12">
            <div class="card card-body">
                <h5>Filtro de Activos</h5>
                <hr>
                {% csrf_token %}
                <form method="GET">
                </form>
                <form method=POST>
                    {% csrf_token %}
                    <ul class="nav nav-pills">
                        <li class="nav-item mx-2">
                            <a class="btn btn-outline-info btn-block mx-auto" type="button" href="{% url 'add-activo' %}">
                                <i class="fa-solid fa-circle-plus">
                                Agregar
                                </i>
                            </a>
                        </li>
                        <!--<li class="nav-item mx-2">
                            <button type="button" class="btn btn-outline-danger">
                               <i class="fa-solid fa-file-pdf fa-2xl"></i>
                            </button>
                        </li>
                        <li class="nav-item mx-2">
                            <div class="btn-group btn-group" role="group" aria-label="Large button group">
                                <a type="button" class="btn btn-outline-info active" style="color:#F5F5F5; background:#3E92CC; border-color: #3E92CC;" href="#"></a>
                                <a type="button" class="btn btn-outline-info" href="#">Gastos</a>
                                <a type="button" class="btn btn-outline-info" href="#">Viaticos</a>
                              </div>
                        </li>-->
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <!-- Aquí terminan el encabezado de los filtros -->

<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class = "row mt-2">
    <div class="col-md-12">
        <table class="table bg-white">
            <thead class="text-black" style="background-color: #F5F5F5;">
                <tr>
                    <th scope="col">Eco</th>
                    <th scope="col">Responsable</th>
                    <th scope="col">Tipo Activo</th>
                    <th scope="col">Serie</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Comentario</th>
                    <th scope="col">QR</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for item in activos %}
                <tr>
                    <th scope="row">{{item.eco_unidad}}</th>
                    <td>{{item.responsable.staff.first_name}} {{item.responsable.staff.last_name}}</td>
                    <td>{{item.tipo_activo}}</td>
                    <td>{% if item.serie %} {{item.serie}} {% endif %}</td>
                    <td>{{item.marca}}</td>
                    <td>{% if item.modelo %} {{item.modelo}} {% endif %}</td>
                    <td>{{item.descripcion}}</td>
                    <td>{{item.comentario}}</td>
                    <td>
                        <a type="button" class="btn btn-secondary" href="{% url 'generate-qr' item.id %}">
                            <i class="fa-solid fa-qrcode"></i>
                        </a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-outline-info" href="{% url 'edit-activo' item.id %}">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!--Este es el modal-->
<div class="modal fade" id ="dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" id="document" role="document" hx-target="this">

    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
var dataSpyList = [].slice.call(document.querySelectorAll('[data-bs-spy="scroll"]'))
dataSpyList.forEach(function (dataSpyEl) {
  bootstrap.ScrollSpy.getInstance(dataSpyEl)
    .refresh()
});
;(function(){
    const modal = new bootstrap.Modal(document.getElementById('dialog'))

    htmx.on('htmx:beforeSwap',(e)=>{
        if (e.detail.target.id === "document" && !e.detail.xhr.response)
        modal.hide()
    })
})()
var myModal = document.getElementById('dialog')

myModal.addEventListener('hidden.bs.modal', function (event) {
  location.reload();
})

</script>
{% endblock %}
</body>
</html>