{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
<html>
<head>
{% block title %}Activos{% endblock %}
</head>
<body>
{% block content %}
<hr>
<hr>
<h6>&nbsp;</h6>
<h6>&nbsp;</h6>
<div class = "row mt-2 bg-white" id="response-div">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                <h5>Filtro de Activos</h5>
                </div>
                <div class = "card-body">
                    {% csrf_token %}
                    <form method="GET">
                        <div class="row g-12">
                            <div class="col-lg-4 col-sm-12">
                                <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                                    <div class="form-floating form-floating-group flex-grow-1">   
                                        {{myfilter.form.eco_unidad|add_class:"form-control"|append_attr:"placeholder= ECO"}}
                                        <label style="color: #121212;" for="id_id">ECO</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                                    <div class="form-floating form-floating-group flex-grow-1">   
                                        {{myfilter.form.responsable|add_class:"form-control"|append_attr:"placeholder= Responsable"}}
                                        <label style="color: #121212;" for="id_id">Responsable</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                                    <div class="form-floating form-floating-group flex-grow-1">   
                                        {{myfilter.form.tipo_activo|add_class:"form-control"|append_attr:"placeholder= Tipo de Activo"}}
                                        <label style="color: #121212;" for="id_id">Tipo de Activo</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-gears"></i></span>
                                <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.familia|add_class:"form-control"|append_attr:"placeholder= Familia"}}
                                <label style="color: #121212;" for="id_familia">Familia</label>
                                </div>
                            </div>
                            </div>
                                <div class="col-lg-4 col-sm-12">
                                    <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-gears"></i></span>
                                    <div class="form-floating form-floating-group flex-grow-1">   
                                    {{myfilter.form.subfamilia|add_class:"form-control"|append_attr:"placeholder= Subfamilia"}}
                                    <label style="color: #121212;" for="id_familia">Subfamilia</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                                    <div class="form-floating form-floating-group flex-grow-1">   
                                        {{myfilter.form.estatus|add_class:"form-control"|append_attr:"placeholder= Status"}}
                                        <label style="color: #121212;" for="id_id">Estatus</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 mt-2">
                                <button id="btnBuscar" class="btn btn-outline-success btn-block btn-lg" type="submit" value="Buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    {% if usuario.tipo.activos == True %}
                    <form method=POST>
                        {% csrf_token %}
                        <ul class="nav nav-pills">
                            <li class="nav-item mx-2">
                                <a class="btn btn-outline-info btn-block mx-auto" type="button" href="{% url 'add-activo' %}">
                                    <i class="fa-solid fa-circle-plus">
                                    </i> AGREGAR
                                </a>
                            </li>
                            <li class="nav-item mx-2">
                                <button type="submit" id="btnExcel" name="btnExcel" value='Reporte Excel' class="btn btn-outline-success">
                                    <i class="fa-solid fa-file-excel fa-2xl"></i>
                                </button>
                            </li>
                            <li class="nav-item mx-2">
                                <a type="button" class="btn btn-outline-info" href="{% url 'render_pdf_responsiva_activos_gerente' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Responsiva Gerente"><i class="fa-solid fa-file-pdf fa-2xl"></i></a>
                            </li>
                        </ul>
                        <div class="text-end mt-3"> <!-- Alinea los botones a la derecha -->
                            <a class="btn btn-outline-primary" href="{% url 'gestionar_tipo_activo' %}">
                                <i class="fa-solid fa-plus"></i> Agregar Tipo de Activo
                            </a>
                            <a class="btn btn-outline-primary ms-2" href="{% url 'gestionar_marca' %}">
                                <i class="fa-solid fa-plus"></i> Agregar Marca
                            </a>
                        </div>
                    </form>
                    {% else %}
                    <div></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Aquí terminan el encabezado de los filtros -->

<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class = "row mt-2">
    <div class="col-md-12">
        <table class="table bg-white">
            <thead class="text-black" style="background-color: #F5F5F5;">
                <tr>
                    <th scope="col">Eco</th>
                    <th scope="col">Responsable</th>
                    <th scope="col">Tipo Activo</th>
                    <th scope="col">Serie</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Descripción</th>
                    <th>Status</th>
                    <th scope="col">QR</th>
                    <th scope="col">Editar</th>
                    <th>Responsiva</th>
                </tr>
            </thead>
            <tbody>
                {% for item in activos %}
                <tr>
                    <th scope="row">{{item.eco_unidad}}</th>
                    <td>{{item.responsable.staff.first_name}} {{item.responsable.staff.last_name}}</td>
                    <td>{{item.tipo_activo}}</td>
                    <td>{% if item.serie %} {{item.serie}} {% endif %}</td>
                    <td>{% if item.marca == Null %} NR {% else %} {{item.marca}} {% endif %}</td>
                    <td>{% if item.modelo %} {{item.modelo}} {% endif %}</td>
                    <td>{{item.descripcion}}</td>
                    <td>{% if item.estatus.nombre == "ALTA" %}<span class="badge bg-primary"> {{item.estatus.nombre}}</span> {% elif item.estatus.nombre == "BAJA" %}<span class="badge bg-danger">{{item.estatus.nombre}}</span>{% else %} <span class="badge bg-warning">{{item.estatus.nombre}}</span> {% endif %}</td>
                    <td>
                        <a type="button" class="btn btn-secondary" href="{% url 'generate-qr' item.id %}">
                            <i class="fa-solid fa-qrcode"></i>
                        </a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-outline-info" href="{% url 'edit-activo' item.id %}">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-outline-info" href="{% url 'render-pdf-responsiva-activos' item.id%}" data-bs-toggle="tooltip" data-bs-placement="top" title="Responsiva"><i class="fa-solid fa-file-pdf fa-2xl"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!--Este es el modal-->
<div class="modal fade" id ="dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" id="document" role="document" hx-target="this">

    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
var dataSpyList = [].slice.call(document.querySelectorAll('[data-bs-spy="scroll"]'))
dataSpyList.forEach(function (dataSpyEl) {
  bootstrap.ScrollSpy.getInstance(dataSpyEl)
    .refresh()
});
;(function(){
    const modal = new bootstrap.Modal(document.getElementById('dialog'))

    htmx.on('htmx:beforeSwap',(e)=>{
        if (e.detail.target.id === "document" && !e.detail.xhr.response)
        modal.hide()
    })
})()
var myModal = document.getElementById('dialog')

myModal.addEventListener('hidden.bs.modal', function (event) {
  location.reload();
})

</script>
{% endblock %}
</body>
</html>