{% extends 'partials/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load l10n %}
<html>
<head>
{% block title %} Agregar Activos {% endblock %}
</head>
<body>
{% block content %}
<!-- Esta es la zona donde se crean los mensajes excitantes con sweet alert -->
<div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
</div>
<hr>
<hr>
<hr>
<hr>
<h6 class="d-lg-none">&nbsp;</h6>
<h6 class="d-lg-none">&nbsp;</h6>
<div class="container">
    <div class="card"  id="document" role="document">
    <form method="POST" class="post-form" id="form_id" enctype="multipart/form-data">
    
        <div class="card-header">
            <h4 class="card-title">Agregar Activo</h4>
        </div>
        <div class="card-body" style="color:white">
            <div>
                {% csrf_token %}
                    <div class="col-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-box-open"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                            {{form.activo|add_class:"form-control"|append_attr:"placeholder=Activo"}}
                            <label style="color: #121212;" for="id_lugar_partida">Activo*</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-list"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{form.descripcion|add_class:"form-control"|append_attr:"placeholder= Descripción"}}
                                <label style="color: #121212;" for="id_lugar_partida">Descripción*</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-list"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{ form.tipo_activo|add_class:"form-control" |append_attr:"placeholder=Tipo de Activo" |append_attr:"id=id_tipo_activo" }}
                                <label style="color: #121212;" for="id_tipo_activo"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                            {{form.eco_unidad|add_class:"form-control"|append_attr:"placeholder= Eco"}}
                            <label style="color: #121212;" for="id_lugar_partida">Eco*</label>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <!--<div class="col-sm-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user-plus"></i></span>    
                                <div class="form-floating form-floating-group flex-grow-1">   
                                <input type="text" list="personal" id="txt_personal" valor="{{personal.id}}" placeholder="Personal..." class="form-control">
                                <label  style="color: #121212;" for="txt_personal">Personal*</label>
                            </div>
                            <datalist id="personal" name='personal'>
                            {% for item in personal %}
                                <option valor="{{item.id}}" value="{{item.staff.first_name}} {{item.staff.last_name}} "></option>
                            {% endfor %}
                            </datalist>
                            </div>
                        </div>-->
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                                    <div class="form-floating form-floating-group flex-grow-1">   
                                        {{form.responsable}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-sliders"></i></span>
                                <div class="form-floating form-floating-group flex-grow-1">   
                                    {{ form.marca|add_class:"form-control" |append_attr:"placeholder=Marca" |append_attr:"id=id_marca" }}
                                    <label style="color: #121212;" for="id_marca"></label>
                                </div>
                            </div>
                        </div>
                    
                    
                        <div id="serie" class="col-lg-6 col-sm-12">
                            <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                                <div class="form-floating form-floating-group flex-grow-1">   
                                {{form.serie|add_class:"form-control"|append_attr:"placeholder= Serie"}}
                                <label style="color: #121212;" for="id_lugar_partida">Serie</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">   
                        <div class="col-lg-6 col-sm-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-sliders"></i></span>
                                <div class="form-floating form-floating-group flex-grow-1">   
                                {{form.modelo|add_class:"form-control"|append_attr:"placeholder= Modelo"}}
                                <label style="color: #121212;" for="id_lugar_partida">Modelo</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-sliders"></i></span>
                                <div class="form-floating form-floating-group flex-grow-1">   
                                {{form.factura_interna|add_class:"form-control"|append_attr:"placeholder= Factura Interna"}}
                                <label style="color: #121212;" for="id_lugar_partida">Factura Interna</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">   
                        <div class="col-lg-6 col-sm-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-sliders"></i></span>
                                <div class="form-floating form-floating-group flex-grow-1">   
                                {{form.cuenta_contable|add_class:"form-control"|append_attr:"placeholder= Cuenta Contable"}}
                                <label style="color: #121212;" for="id_lugar_partida">Cuenta Contable</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-lg-12 col-sm-12">
                            <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-message"></i></span>
                                <div class="form-floating form-floating-group flex-grow-1">   
                                {{form.comentario|add_class:"form-control"}}
                                <label style="color: #121212;" for="id_lugar_partida">Observaciones*</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {% render_field form.fecha_asignacion type="date" class="form-control" %}
                                <label style="color: #121212;" for="id_subproyecto">Fecha Asignación:</label>
                            </div>
                        </div>
                    </div>

                    <div id="subir_pdf" class="row">
                        <div class="input-group mb-3" style="height:60px" >
                                {{form.factura_pdf|add_class:"form-control"}}
                            <label class="input-group-text" for="id_archivo_pdf" style="color:#980f0f"><i class="fa-solid fa-cloud-arrow-up"></i>PDF</label>
                            
                        </div>
                    </div>
                    <div id="subir_xml" class="row">
                        <div class="input-group mb-3" style="height:60px" >
                            {{form.factura_xml|add_class:"form-control"}}
                            <label class="input-group-text" for="id_archivo_xml"><i class="fa-solid fa-cloud-arrow-up"></i>XML</label>
                        </div>
                    </div>
            </div>
        </div>
        <div class="card-footer">
                <button class="btn btn-success" id="crear" type="submit">Crear</button>
                <a type="button" class="btn btn-secondary" id="cerrar" href="{% url 'activos' %}">Cerrar</a>
        </div>
    </form>
</div>

<!--Este es el modal-->
<div class="modal fade" id ="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" id="document" role="document" hx-target="this">

    </div>
</div>
<!--AJAX CALL-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
$(document).ready(function() {
    // Datos para el select2 de tipo_activo (deberás pasarlos desde tu vista en el contexto)
    var datosTipoActivo = {{ tipo_activo_para_select2|safe }};
    $('#id_tipo_activo').select2({
        allowClear: true,
        width: '100%',
        data: datosTipoActivo,
        placeholder: 'Tipo de Activo*',
        templateResult: formatRepo,
        templateSelection: formatRepoSelection
    });

    // Datos para el select2 de marca (deberás pasarlos desde tu vista en el contexto)
    var datosMarca = {{ marca_para_select2|safe }};
    $('#id_marca').select2({
        allowClear: true,
        width: '100%',
        data: datosMarca,
        placeholder: 'Marca*',
        templateResult: formatRepo,
        templateSelection: formatRepoSelection
    });
});

var datosResponsable= {{ responsables_para_select2|safe }};
console.log(datosResponsable)

$(document).ready(function() {
    
    $('#id_responsable').select2({
        allowClear: true,
        width: '100%',
        data: datosResponsable,
        placeholder: 'Responsable*',
        templateResult: formatRepo,
        templateSelection: formatRepoSelection
    });
});

function formatRepo (repo) {
    if (repo.loading) {
        return repo.text;
    }

    var $container = $("<div class='select2-result-repository clearfix'>" +
        "<div class='form-control form-control-lg select2-result-repository__title'></div>" +
        "</div>");

    $container.find(".select2-result-repository__title").text(repo.text);
    
    // Aquí podrías agregar más elementos al contenedor si es necesario.

    return $container;
}

function formatRepoSelection (repo) {
    return repo.text || repo.id;
}
</script>
{% endblock %}

</body>
</html>