{% extends 'partials/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
<html>
<head>
{% block title %} Gasto {% endblock %}
</head>
<body>
{% block content %}
<hr>
<hr>
<hr>
<hr>
<div class="row">
    <div class="col-lg-5">
        <div class="box-element" id="form-wrapper">
            <div id="Solicitud-info">
                <hr>
					<h2>Solicitud de gasto:</h2>
					<hr>
					<form method="POST" id='OrderForm' data-subproyecto-url="{% url 'ajax_load_subproyectos' %}" novalidate>
                        {% csrf_token %}
                            <div class="row my-2">
                                <label for="form.proyecto" class="col-auto col-form-label my-1"><strong>Proyecto*</strong></label>
                                <div class="col-4">
                                    <div class="input-group">
                                    <!--    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-industry"></i></span>-->
                                    {{form.proyecto|add_class:"form-select"}}
                                    </div>
                                </div>
                            </div>
                            <div class="row my-2">
                                <label for="form.subproyecto" class="col-auto col-form-label my-1"><strong>Subproyecto*</strong></label>
                                <div class="col-4">
                                    <div class="input-group">
                                    <!--    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-industry"></i></span>-->
                                    {{form.subproyecto|add_class:"form-select"}}
                                    </div>
                                </div>
                            </div>
                            <div class="row my-2">
                                <label for="form.operacion" class="col-auto col-form-label my-1"><strong>Área*</strong></label>
                                <div class="col-4">
                                    <div class="input-group">
                                    <!--    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-industry"></i></span>-->
                                    {{form.area|add_class:"form-select"}}
                                    </div>
                                </div>
                            </div>
                            <div class="row my-2">
                                <label for="form.subproyecto" class="col-auto col-form-label my-1"><strong>Tipo*</strong></label>
                                <div class="col-4">
                                    <div class="input-group">
                                    <!--    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-industry"></i></span>-->
                                    {{form.tipo|add_class:"form-select"}}
                                    </div>
                                </div>
                            </div>

                            <div class="row my-2">
                            <label class="col-auto col-form-label" superintendentes='{{superintendentes}}'><strong>Superintendente*</strong></label>
                            <div class="col-5">
                                <div class="input-group">
                                <span class="input-group-text my-1" style="height:35px"><i class="fa-solid fa-user"></i></span>
                                <div class="selector">
                                    <select class="form-select form-select-sm my-1" style="height:35px" id="superintendentes">
                                    <option id="default_sel">      </option>
                                    {% for superintendente in superintendentes %}
                                    <option id="js" target="{{superintendente.id}}">
                                    {{superintendente.staff.first_name}} {{superintendente.staff.last_name}}
                                    </option>
                                    {% endfor %}
                                    </select>
                                </div>
                                </div>
                            </div>
                            </div>
                            <div class="row my-2 d-none">
                                <label for="form.superintendente" class="col-auto col-form-label my-1 d-none"><strong>Superintendente*</strong></label>
                                <div class="col-3">
                                <!--<div class="input-group mb-3">-->
                                    <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                                    {{form.superintendente|add_class:"form-control"}}
                                </div>
                            </div>
                        <input class="btn btn-outline-info btn-block my-2" name="agregar" type="submit" value="Agregar Solicitud">
                    </form>
            </div>
            <hr>
        </div>
    </div>

    <div class="col-lg-7">
        <div class="box-element">
             <form method="post" enctype="multipart/form-data">
            <div class="row">
                <label class="col-auto col-form-label my-2"><strong>Productos:</strong></label>

                <div class="col-sm-6 my-2">
                    <input type="text" list='articulos' id="txt_articulos" valor="{{articulos.id}}" placeholder="Artículos..." class="form-control d-none">

                    <datalist id="articulos" name='articulos'>
                        {% for item in articulos %}
                        <option gasto={{item.producto.gasto}} valor="{{item.id}}" value="{{item}}"></option>
                        {% endfor %}
                    </datalist>
                    <input type="text" list='articulos_gasto' id="txt_articulos_gasto" valor="{{articulos_gasto.id}}" placeholder="Artículos..." class="form-control">

                    <datalist id="articulos_gasto" name='articulos_gasto'>
                        {% for item in articulos_gasto %}
                        <option gasto={{item.producto.gasto}} valor="{{item.id}}" value="{{item}}"></option>
                        {% endfor %}
                    </datalist>
                </div>
                <div class="form-check form-switch col-auto mx-4" id="Gasto" gasto ="{{gasto.id}}">
                        <input class="form-check-input" type="checkbox" role="switch" id="SwitchGasto">
                        <label class="form-check-label" for="flexSwitchCheckDefault" id="LabelAlmacén">Almacén</label>
                </div>
            </div>

            <div class="row d-none">
                <label for="form_product.producto" class="col-auto col-form-label"><strong>Producto:</strong></label>
                <div class="col-sm-6">
                    {{form_product.producto|add_class:"form-control"}}
                </div>
            </div>
            <div class="row">
                <label for="form_product.concepto" class="col-sm-2 col-form-label"><strong>Descripción:</strong></label>
                <div class="col-sm-6">
                    {{form_product.comentario|add_class:"form-control"}}
                </div>
                <label for="form_product.precio_unitario" class="col-sm-1 col-form-label"><strong>P.U.:</strong></label>
                <div class="col-sm-2">
                    {{form_product.precio_unitario|add_class:"form-control"}}
                </div>
            </div>
            <div class="row my-2">
                 <label for="form_product.precio_unitario" class="col-sm-1 col-form-label"><strong>Cantidad:</strong></label>
                <div class="col-sm-2">
                    {{form_product.cantidad|add_class:"form-control"}}
                </div>
            </div>
            <div id="factura_pdf" class="row d-none">
                <div class="col-sm-6">
                    {{form_product.factura_pdf|add_class:"form-control my-2"}}
                </div>
                <div class="col-sm-1 my-3" style="color:#980f0f">
                    <i class="fa-solid fa-cloud-arrow-up"></i>PDF
                </div>

            </div>
            <div id="factura_xml" class="row d-none">
                <div class="col-sm-6">
                    {{form_product.factura_xml|add_class:"form-control my-2"}}
                </div>
                 <div class="col-sm-1 my-3" style="color:#9a9b9d">
                    <i class="fa-solid fa-cloud-arrow-up"></i>XML
                </div>
            </div>

            <div  class="row">
            <div class="form-check form-switch col-auto mx-4" id="Otros_impuestos">
                        <input class="form-check-input" type="checkbox" role="switch" id="Switch_Otros_impuestos">
                        <label class="form-check-label" for="flexSwitchCheckDefault" id="LabelOtros_Impuestos">Otros Impuestos</label>
            </div>
                <div class="col-sm-3">
                    {{form_product.otros_impuestos|add_class:"form-control d-none"}}
                </div>
            </div>

            <div  class="row my-1">
            <div class="form-check form-switch col-auto mx-4" id="Impuestos_retenidos">
                        <input class="form-check-input" type="checkbox" role="switch" id="Switch_Impuestos_retenidos">
                        <label class="form-check-label" for="flexSwitchCheckDefault" id="LabelOtros_Impuestos">Impuestos Retenidos</label>
            </div>
                <div class="col-sm-3">
                    {{form_product.impuestos_retenidos|add_class:"form-control d-none"}}
                </div>
            </div>

            <div class="form-check form-switch col-auto mx-4 d-none" id="Entrada_Salida">
                        <input class="form-check-input" type="checkbox" role="switch" id="SwitchEntrada_Salida">
                        <label class="form-check-label" for="flexSwitchCheckDefault" id="LabelAlmacén">Entrada-Salida Express</label>
                </div>


            <div  class="row">
                <div class="col-sm-1">
                    <a class="btn btn-success update-gasto" id="update-gasto" name="gasto">
                        <i class="fa-solid fa-circle-plus"></i>
                    </a>
                </div>
            </div>
            </form>
            <hr>
            <table class="table table-light table-striped table-hover mx-2">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">P.U.</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col">Total</th>
                    <th scope="col" class="col-sm-2">Acción</th>
                </tr>
            </thead>
            <tbody id="mytbl">
                {% for producto in productos%}
                <tr>
                    <td scope="col">{{producto.producto.producto.codigo}}</td>
                    <td scope="col">{{producto.producto.producto.nombre}}</td>
                    <td scope="col">{{producto.cantidad}}</td>
                    <td scope="col">${{producto.precio_unitario}}</td>
                    <td scope="col">${{producto.get_subtotal}}</td></td>
                    <td scope="col">${{producto.total_parcial}}</td>
                    <td scope="col"><button type="button" class="btn btn-danger" value="Delete" onclick="deleteRow(this)" id="delete" producto="{{producto.id}}" aria-label="Close"><i class="fa-solid fa-trash-can"></i></button>
                    <a class="btn btn-outline-info" id="btnActualizar" type="button" data-bs-toggle="modal" data-bs-target="#dialog" hx-target="#document" hx-get="{% url 'editar-gasto' producto.id %}">
                                    <i class="fa-solid fa-pen-to-square"></i></td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            <table class="table table-light table-striped mx-1">
            <thead>
                <tr>
                    <th scope="col">Subtotal</th>
                    <td scope="col" id="subtotal">${{gasto.get_subtotal_solicitud}}</td>
                </tr>
                </thead>
            <tbody>
                <tr>
                    <th scope="col">Impuestos</th>
                    <td scope="col" id="iva">${{gasto.get_total_impuesto}}</td>
                </tr>
                <tr>
                    <th scope="col">Total</th>
                    <td scope="col" id="total">${{gasto.get_total_solicitud}}</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>

<!--Este es el modal-->
<div class="modal fade" id ="dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" id="document" role="document" hx-target="this">

    </div>
</div>

<!--AJAX CALL-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
 $("#id_proyecto").change(function () {
      const url = $("#OrderForm").attr("data-subproyecto-url");  // get the url of the `load_subproyectos` view
      const proyectoId = $(this).val();  // get the selected proyecto ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'proyecto_id': proyectoId       // add the proyecto id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_subproyectos` view function
          $("#id_subproyecto").html(data);  // replace the contents of the subproyectos input with the data that came from the server
        }
      });

    });


document.getElementById("superintendentes").addEventListener("change", function(event){
    var select = document.getElementById("superintendentes");
    var current_option = select.options[select.selectedIndex];
    var target = current_option.getAttribute('target')
    var other_select = document.getElementById('id_superintendente')
    other_select.value = target
});

var precio_mod = document.getElementById("id_precio_unitario")


document.getElementById("txt_articulos").addEventListener("change", (event)=>{
    var select = document.getElementById("txt_articulos");
    var browserChildren = document.getElementById('articulos').children;
    var other_select = document.getElementById('id_producto');



    cont = 0

    for(let i = 0; i < browserChildren.length; i++){
        //console.log(browserChildren[i].value)

        if (browserChildren[i].value === select.value) {
          //  console.log(browserChildren[i])
          // console.log(select.value)
            let id = browserChildren[i].getAttribute('valor');
            console.log(id)
            other_select.value = id;
            cont = 1
            } //else {
            //    console.log(browserChildren[i].value)
              //  console.log(select)
           // }
    }
    //console.log(select.value)
    //El cont = 0 es un indicador/bandera si encuentra al menos una similitud en el for no se activa
    if ((!select.value) || (cont = 0)){
        other_select.value = 0
    }
});

document.getElementById("txt_articulos_gasto").addEventListener("change", (event)=>{
    var select = document.getElementById("txt_articulos_gasto");
    var browserChildren = document.getElementById('articulos_gasto').children;
    var other_select = document.getElementById('id_producto');


    cont = 0

    for(let i = 0; i < browserChildren.length; i++){
       // console.log(browserChildren[i].value)

        if (browserChildren[i].value === select.value) {
         //   console.log(browserChildren[i])
          //  console.log(select.value)
            let id = browserChildren[i].getAttribute('valor');
        //    console.log(id)
            other_select.value = id;
            cont = 1
            } //else {
            //    console.log(browserChildren[i].value)
              //  console.log(select)
           // }
    }
    //console.log(select.value)
    //El cont = 0 es un indicador/bandera si encuentra al menos una similitud en el for no se activa
    if ((!select.value) || (cont = 0)){
        other_select.value = 0
    }
});

var updateBtn = document.getElementById('update-gasto')
let count=0;
let suma = 0;
let suma_iva = 0;

updateBtn.addEventListener('click',function(){
        let gasto  = document.getElementById('Gasto');
        let gasto_id = gasto.getAttribute('gasto')
        let producto = document.getElementById('id_producto');
        let producto_id = producto.value;

        let check_entrada_salida = document.getElementById('SwitchEntrada_Salida')
        console.log(producto_id)
        let descripcion = document.getElementById('id_comentario').value;
        let cantidad = document.getElementById('id_cantidad');
        let precio = document.getElementById('id_precio_unitario')
        var val_cantidad = cantidad.value;
        var val_precio = precio.value;

        var action = "add";
        //var iva = current_option.getAttribute('iva');
        //Esta es la cantidad realmente pedida en la OC
        if (check_gasto.checked){
            check = true
        } else {
            check = false
        }
        if (check_entrada_salida.checked){
            check_express = true
            } else {
                check_express= false
            }

        console.log('gasto_id',gasto_id)
        console.log('producto id:',producto_id)
        console.log('descripción:', descripcion)

        console.log('val_cantidad:',val_cantidad)

        console.log('val_precio:',val_precio)


        if (!producto_id) {
            Swal.fire({
                    "title":"Error",
                    "text":"Favor de seleccionar algún valor de la lista",
                    "icon":"error",
                })
        //Si "la cantidad comprada" es menor que cero
        } else if (val_cantidad <=0 ) {
            Swal.fire({
                    "title":"Error",
                    "text":"La cantidad ingresada debe ser mayor que 0",
                    "icon":"error",
                })
        } else if (val_precio <=0) {
            Swal.fire({
                    "title":"Error",
                    "text":"El precio ingresado debe ser mayor que 0",
                    "icon":"error",
            })
        } else {
            ActualizarArticulos(gasto_id, producto_id, descripcion, val_cantidad, val_precio, action, check, check_express);
            document.getElementById('id_cantidad').value= null;
            document.getElementById('id_precio_unitario').value= null;
            document.getElementById('id_producto').value=null;
            document.getElementById('Gasto').value=null;
            document.getElementById('id_comentario').value = null;
            document.getElementById("txt_articulos_gasto").value=null;
            document.getElementById("txt_articulos").value=null;


        }
})

//ActualizarArticulos(array_id_prod)

function ActualizarArticulos(gasto_id, producto_id, descripcion,val_cantidad,val_precio,action,check, check_express){
    console.log('User is logged in, sending data...' )

    var url = '/gastos/update_gasto/'

    fetch( url, {
        method:'POST',
        headers:{
            'Content-Type':'application/json',
            'X-CSRFToken': csrftoken,
        },
        body:JSON.stringify({'gasto_id':gasto_id, 'producto_id':producto_id, 'descripcion':descripcion, 'val_cantidad':val_cantidad, 'val_precio':val_precio, 'action':action,'check':check, 'check_express':check_express})
    })
    .then((response)=>{
        return response.json()
    })
    .then((data)=>{
        console.log('data:', data)
        location.reload()
    })
}

//This is the function that remove any product from render product table and remove the specific element from the array
function deleteRow(element) {
    let btn_delete = document.getElementById('delete');
    producto_id = btn_delete.getAttribute('producto')
    gasto_id = ""
    descripcion = ""
    val_cantidad = 0
    val_precio = 0
    check = false
    check_express = false
    console.log(producto_id)
    var action = "remove";
    ActualizarArticulos(gasto_id, producto_id, descripcion,val_cantidad,val_precio,action,check,check_express);

    var select = document.getElementById('producto');

    var rows = document.getElementById("mytbl").rows.length;
}



var check_gasto = document.getElementById("SwitchGasto");


document.getElementById("SwitchGasto").addEventListener("change", function(element){
	let articulos = document.getElementById('txt_articulos');
	let articulos_gasto = document.getElementById('txt_articulos_gasto');
	let form_art = document.getElementById('id_producto')
	let entrada_salida = document.getElementById('Entrada_Salida')


	articulos.value = ""
	articulos_gasto.value=""
	form_art.value = ""

	if (check_gasto.checked){
	    articulos.setAttribute('class','form-control')
	    articulos_gasto.setAttribute('class','form-control d-none')
	    entrada_salida.setAttribute('class','form-check form-switch col-auto mx-4')
	    //impuestos_retenidos.setAttribute('class','form-check form-switch col-auto mx-4')
	} else {
	    articulos.setAttribute('class','form-control d-none')
	    articulos_gasto.setAttribute('class','form-control')
	    entrada_salida.setAttribute('class','form-check form-switch col-auto mx-4 d-none')
	    //impuestos_retenidos.setAttribute('class','form-check form-switch col-auto mx-4 d-none')
	}
});

var check_otros_imp = document.getElementById("Switch_Otros_impuestos")

check_otros_imp.addEventListener("change", function(element){
    let otros_imp = document.getElementById('id_otros_impuestos')

    if (check_otros_imp.checked){
        otros_imp.setAttribute('class','form-control')
    } else {
        otros_imp.setAttribute('class','form-control d-none')
    }


});

let check_impuestos_retenidos = document.getElementById('Switch_Impuestos_retenidos')

check_impuestos_retenidos.addEventListener("change", function(element){
    let imp_ret = document.getElementById('id_impuestos_retenidos')
    console.log(imp_ret)

    if (check_impuestos_retenidos.checked){
        imp_ret.setAttribute('class','form-control')
    } else {
        imp_ret.setAttribute('class','form-control d-none')
    }


});



document.getElementById("id_tipo").addEventListener("change", function(element){
	let articulos = document.getElementById('id_tipo');
	let value = articulos.value;
	let factura_pdf = document.getElementById('factura_pdf')
	let factura_xml = document.getElementById('factura_xml')

	//console.log(value)
	//articulos.value = ""
	//form_art.value = ""


	if (value == 2){
	  factura_pdf.setAttribute('class','row')
	  factura_xml.setAttribute('class','row')
	} else {
	  factura_pdf.setAttribute('class','row d-none')
	  factura_xml.setAttribute('class','row d-none')
	}

});
;(function(){
    const modal = new bootstrap.Modal(document.getElementById('dialog'))

    htmx.on('htmx:beforeSwap',(e)=>{
        if (e.detail.target.id === "document" && !e.detail.xhr.response)
        modal.hide()
    })
})()
var myModal = document.getElementById('dialog')

myModal.addEventListener('hidden.bs.modal', function (event) {
  location.reload();
})


</script>
{% endblock %}
</body>
</html>