{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
{% load l10n %}
<html>
<head>
{% block title %}Matriz de gastos autorizados{% endblock %}
</head>
<body>
{% block content %}
<hr>
<h6>&nbsp;</h6>

<!-- Esta es la zona donde se crean los mensajes excitantes con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h5>Facturas de Gasto {{gasto.id}}</h5>
        </div>
        <div class="card-body">
            <!-- Tabla de artículos de gasto -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Gasto ID</th>
                        <th scope="col">OT</th>
                        <th scope="col">Artículo</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Importe Gasto</th>
                    </tr>
                </thead>
                <tbody>
                    {% for gasto in articulos_gasto %}
                    <tr>
                        <th scope="row">{{ gasto.id }}</th>
                        <td>{{ gasto.proyecto.nombre }}</td>
                        <td>{{ gasto.producto }}</td>
                        <td>{{ gasto.cantidad }}</td>
                        <td>{{ gasto.comentario }}</td>
                        <td>${{ gasto.total_parcial|floatformat:2 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>

            <!-- Formulario para subir facturas -->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="archivo_pdf" class="form-label"><strong>Subir Factura PDF</strong></label>
                        {{ factura_form.archivo_pdf|add_class:"form-control" }}
                    </div>
                    <div class="col-md-6">
                        <label for="archivo_xml" class="form-label"><strong>Subir Factura XML</strong></label>
                        {{ factura_form.archivo_xml|add_class:"form-control" }}
                    </div>
                </div>
                <button class="btn btn-success" type="submit" name="btn_factura">
                    <i class="fa-solid fa-cloud-arrow-up"></i> Subir Factura
                </button>
            </form>

            <!-- Tabla de facturas -->
            <table class="table table-striped mt-4">
                <thead>
                    <tr>
                        <!--<th scope="col">Concepto [XML]</th>
                        <th scope="col">Proveedor [XML]</th>
                        <th scope="col">Monto [XML]</th>-->
                        <th scope="col">Concepto [XML]</th>
                        <th scope="col">Proveedor [XML]</th>
                        <th scope="col">Monto [XML]</th>
                        <th>PDF</th>
                        <th>XML</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for factura in facturas %}
                    <tr>
                        <td>{% if factura.archivo_xml %} {{ factura.emisor.resultados }} {% endif %}</td>
                        <td>{% if factura.archivo_xml %} {{ factura.emisor.nombre }} {% endif %}</td>
                        <td>{% if factura.archivo_xml %} ${{ factura.emisor.total }} {% endif %}</td>
                        
                        {% if factura.archivo_pdf %}
                        <td>
                                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#pdfModal{{ factura.id|unlocalize }}" title="Ver representación impresa Factura">
                                    <i class="fa-duotone fa-solid fa-file-pdf fa-xl"></i>
                                </button>
                               
                                <!-- Modal con visor de PDF -->
                                <div class="modal fade" id="pdfModal{{ factura.id|unlocalize }}" tabindex="-1" aria-labelledby="pdfModalLabel{{ factura.id|unlocalize }}" aria-hidden="true">
                                    <div class="modal-dialog modal-xl">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="pdfModalLabel{{ factura.id|unlocalize }}">Ver factura</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <iframe src="{{ factura.archivo_pdf.url }}#zoom=80" width="100%" height="750px"></iframe>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </td>       
                        {% else %}
                        <td> </td>
                        {% endif %}
                        {% if factura.archivo_xml %}
                        <td>
                            <a href="{{factura.archivo_xml.url}}" download class="btn btn-outline-info">
                                <i class="fa-solid fa-file-invoice-dollar"></i>
                            </a>
                        </td>
                        {% else %}
                        <td> </td>
                        {% endif %}
                    
                       
                        <td>
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmModal" onclick="setDeleteUrl({{ factura.id | unlocalize }})">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        <!-- Formulario para cambiar el estado de las facturas -->
        <form method="post">
            {% csrf_token %}
            <div class="row ms-3 my-2">
                <div class="form-check form-switch col-sm">
                    <label for="form.tesoreria_local" class="form-check-label"><strong>Facturas Completas</strong></label>
                    {{ form.facturas_completas|add_class:"form-check-input" }}
                </div>
                <hr>
                <ul class="nav">
                    <li class="nav-item ms-4">
                        <button type="submit" name="btn_factura_completa" class="btn btn-success">Guardar</button>
                    </li>
                    <li class="nav-item ms-2">
                        {% if request.GET.next %}
                            <a href="{{ request.GET.next }}" class="btn btn-outline-primary">Volver</a>
                        {% else %}
                            <a href="{% url 'matriz-pagos' %}" class="btn btn-outline-primary">Volver</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </form>
    </div>
    </div>
</div>
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Eliminar Factura</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="deleteForm" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="comentario" class="form-label">Comentario</label>
                        <input type="text" class="form-control" id="comentario" name="comentario" placeholder="Escribe un comentario" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" onclick="enviarFormulario()">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
;(function(){
    const modal = new bootstrap.Modal(document.getElementById('dialog'))

    htmx.on('htmx:beforeSwap',(e)=>{
        if (e.detail.target.id === "document" && !e.detail.xhr.response)
        modal.hide()
    })
})()
var myModal = document.getElementById('dialog')

myModal.addEventListener('hidden.bs.modal', function (event) {
  location.reload();
})
//Parte del modal factura eliminar
function setDeleteUrl(facturaId) {
    const deleteForm = document.getElementById('deleteForm');
    const baseUrl = "{% url 'eliminar-factura-gasto' 0 %}"; // URL base con un placeholder

    // Obtener el parámetro 'next' de la URL actual
    const urlParams = new URLSearchParams(window.location.search);
    const nextParam = urlParams.get('next');  // Captura el valor de 'next' si está presente

    // Construir la URL de eliminación con el ID de la factura
    let deleteUrl = baseUrl.replace('0', facturaId);
    
    // Agregar el parámetro 'next' si existe
    if (nextParam) {
        deleteUrl += `?next=${encodeURIComponent(nextParam)}`;
    }

    // Establecer la acción del formulario
    deleteForm.action = deleteUrl;
}

function enviarFormulario() {
    const comentario = document.getElementById('comentario').value;
    if (!comentario) {
        alert("Por favor, escribe un comentario antes de continuar.");
    } else {
        document.getElementById('deleteForm').submit();  
    }
}
;(function() {
    const modal = new bootstrap.Modal(document.getElementById('dialog'))

    htmx.on('htmx:beforeSwap', (e) => {
        if (e.detail.target.id === "document" && !e.detail.xhr.response)
            modal.hide()
    })
})()

// Recargar la página cuando se cierre el modal de confirmación
var confirmModal = document.getElementById('confirmModal');
confirmModal.addEventListener('hidden.bs.modal', function (event) {
    location.reload();  
});
</script>
{% endblock %}
</body>
</html>