{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
{% load l10n %}
{% load tt_extras %}
<html>
<head>
{% block title %}Matriz Reportes Calidad{% endblock %}
</head>
<body>
{% block content %}
<hr>
<hr>
<h6>&nbsp;</h6>
<h6>&nbsp;</h6>
<div class = "row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                <h5>Matriz Reportes Calidad</h5>
                </div>
                <div class="card-body">
            
                    <form method="GET">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-3 col-sm-12">
                                <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                                    <div class="form-floating form-floating-group flex-grow-1">   
                                        {{myfilter.form.oc|add_class:"form-control"|append_attr:"placeholder= Folio OC"}}
                                        <label style="color: #121212;" for="id_staff">Folio OC</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                                    <div class="form-floating form-floating-group flex-grow-1">   
                                        {{myfilter.form.proveedor|add_class:"form-control"|append_attr:"placeholder= Proveedor"}}
                                        <label style="color: #121212;" for="id_staff">Proveedor</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-diagram-project"></i></span>
                                    <div class="form-floating form-floating-group flex-grow-1">   
                                        {{myfilter.form.proyecto|add_class:"form-control"|append_attr:"placeholder= Proyecto"}}
                                        <label style="color: #121212;" for="id_proyecto">Proyecto</label>
                                    </div>
                                </div>
                            </div>       
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-sm-12">
                                <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-diagram-project"></i></span>
                                    <div class="form-floating form-floating-group flex-grow-1">   
                                        {{myfilter.form.subproyecto|add_class:"form-control"|append_attr:"placeholder= Subproyecto"}}
                                        <label style="color: #121212;" for="id_proyecto">Subproyecto</label>
                                    </div>
                                </div>
                            </div>  
                            <div id="serie" class="col-lg-2 col-md-auto col-sm-auto">
                                <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                                    <div class="form-floating form-floating-group flex-grow-1">   
                                        {% render_field myfilter.form.start_date type="date" class="form-control" %}
                                    <label style="color: #121212;" for="id_subproyecto">Desde:</label>
                                    </div>
                                </div>
                            </div>
                            <div id="serie" class="col-lg-2 col-md-auto col-sm-auto">
                                <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                                    <div class="form-floating form-floating-group flex-grow-1">   
                                        {% render_field myfilter.form.end_date type="date" class="form-control" %}
                                    <label style="color: #121212;" for="id_subproyecto">Hasta:</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon3"><i class="fa-solid fa-check"></i></span>
                                    <div class="form-floating form-floating-group flex-grow-1">
                                        {{ myfilter.form.autorizado|add_class:"form-select"|append_attr:"placeholder= Autorizado" }}
                                        <label style="color: #121212;" for="id_autorizado">Autorizado</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-outline-success btn-block btn-lg mt-1" type="submit" value="Buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </div>
                    <hr>
                    </form>
                
                  
                    <form method=POST>
                        {% csrf_token %}
                        <!--<ul class="nav nav-pills">
                            <li class="nav-item mx-2">
                                <button type="submit" class="btn btn-outline-success" value='Reporte Excel'>
                                    <i class="fa-solid fa-file-excel fa-2xl"></i>
                                </button>
                            </li>
                        </ul>-->
                    </form>
                </div>
            </div>
        </div>
</div>
    <!-- Aquí terminan el encabezado de los filtros -->

<!-- Esta es la zona donde se crean los mensajes excitantes con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class = "row mt-2">
    <div class="col-md-12">
        <table class="table bg-white">
            <thead class="text-black" style="background-color: #F5F5F5;">
                <tr>
                    <th scope="col">Compra</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Descripción de Producto</th>
                    <th scope="col">Proyecto</th>
                    <th scope="col">Subproyecto</th>
                    <th scope="col">Fecha Entrada</th>
                    <th scope="col">Reporte</th>
                </tr>
            </thead>
            <tbody>
                {% for reporte in reportes_list %}
                <tr>
                    <td scope="col">{{reporte.articulo.articulo_comprado.oc.id|unlocalize}}</th>
                    <td scope="col">{{reporte.articulo.articulo_comprado.oc.proveedor}}</td>
                    <td scope="col">{{reporte.articulo.articulo_comprado.producto.producto.articulos.producto.producto.codigo}} | {{reporte.articulo.articulo_comprado.producto.producto.articulos.producto.producto.nombre}}</td>
                    <td>{{reporte.articulo.articulo_comprado.producto.producto.articulos.orden.proyecto.nombre}}</td>
                    <td>{{reporte.articulo.articulo_comprado.producto.producto.articulos.orden.subproyecto.nombre}}</td>
                    <td>{{reporte.articulo.entrada.entrada_date}} </td>
                    <td>
                        <a class="btn btn-outline-danger btn-block mx-auto" href="{% url 'pdf_reporte_calidad' reporte.id %}" target="_blank">
                            <i class="fa-solid fa-file-pdf"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
 <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if reportes_list.has_previous %}
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url 1 'page' request.GET.urlencode %}"><i class="fa-solid fa-angles-left"></i></a></li>
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url reportes_list.previous_page_number  'page' request.GET.urlencode %}"><i class="fa-solid fa-angle-left"></i></a></li>
                {% endif %}

                {% for item in reportes_list.paginator.page_range %}
                    {% if reportes_list.number == item %}
                        <li class="page-item active"><a href="#" class="page-link bg-dark">{{item}}</a></li>
                    {% elif item > reportes_list.number|add:'-2' and item < reportes_list.number|add:'2' %}
                        <li class="page-item "><a class="page-link" style="color:#3E92CC" href="{% my_url item 'page' request.GET.urlencode %}" class="page-link">{{item}}</a></li>
                    {% endif %}
                {% endfor %}

                {% if reportes_list.paginator.num_pages > reportes_list.number|add:'2' %}
                <li><a class="page-link" style="color:#3E92CC" href="?page={{reportes_list.number|add:'2'}}">&hellip;</a></li>
                <li><a style="color:#3E92CC" href="?page={{ item }}">{{item}}</a></li>
                <li><a class="page-link" style="color:#3E92CC" href="{% my_url reportes_list.paginator.num_pages 'page' request.GET.urlencode %}">{{reportes_list.paginator.num_pages}}</a></li>
                {% endif %}

                {% if reportes_list.has_next %}
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url reportes_list.next_page_number 'page' request.GET.urlencode %}"><i class="fa-solid fa-chevron-right"></i></a></li>
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url reportes_list.paginator.num_pages 'page' request.GET.urlencode %}"><i class="fa-solid fa-angles-right"></i></a></a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
<!--Este es el modal-->
<div class="modal fade" id ="dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" id="document" role="document" hx-target="this">

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
var dataSpyList = [].slice.call(document.querySelectorAll('[data-bs-spy="scroll"]'))
dataSpyList.forEach(function (dataSpyEl) {
  bootstrap.ScrollSpy.getInstance(dataSpyEl)
    .refresh()
});
;(function(){
    const modal = new bootstrap.Modal(document.getElementById('dialog'))

    htmx.on('htmx:beforeSwap',(e)=>{
        if (e.detail.target.id === "document" && !e.detail.xhr.response)
        modal.hide()
    })
})()
var myModal = document.getElementById('dialog')

myModal.addEventListener('hidden.bs.modal', function (event) {
  location.reload();
})

</script>
{% endblock %}
</body>