{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
<html>
<head>
{% block title %}Pendientes Calidad{% endblock %}
</head>
<body>
{% block content %}
<hr>
<hr>
<hr>
<div class = "row mt-2 bg-white" id="response-div">
        <div class="col-12">
            <div class="card card-body">
                <h5>Liberación Calidad</h5>
                <hr>
                {% csrf_token %}
                <form method="GET">
                <div class="row g-12">
                </div>
                <hr>
                </form>
                <form method=POST>
                    {% csrf_token %}
                    <ul class="nav nav-pills">
                        <li class="nav-item mx-2">
                            <button type="submit" class="btn btn-outline-success" value='Reporte Excel'>
                                <i class="fa-solid fa-file-excel fa-2xl"></i>
                            </button>
                        </li>
                        <li class="nav-item mx-2">
                            <button type="button" class="btn btn-outline-danger">
                               <i class="fa-solid fa-file-pdf fa-2xl"></i>
                            </button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <!-- Aquí terminan el encabezado de los filtros -->

<!-- Esta es la zona donde se crean los mensajes excitantes con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class = "row mt-2">
    <div class="col-md-12">
        <table class="table bg-white">
            <thead class="text-black" style="background-color: #F5F5F5;">
                <tr>
                    <th scope="col">Compra</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Descripción de Producto</th>
                    <th scope="col">Proyecto</th>
                    <th scope="col">Subproyecto</th>
                    <th scope="col">Fecha Entrada</th>
                    <th scope="col">Reporte</th>
                </tr>
            </thead>
            <tbody>
                {% for articulo in articulos_entrada %}
                <tr>
                    <td scope="col">{{articulo.articulo_comprado.oc.get_folio}}</th>
                    <td scope="col">{{articulo.articulo_comprado.oc.proveedor}}</td>
                    <td scope="col">{{articulo.articulo_comprado.producto.producto.articulos.producto.producto.codigo}} | {{articulo.articulo_comprado.producto.producto.articulos.producto.producto.nombre}}</td>
                    <td>{{articulo.articulo_comprado.producto.producto.articulos.orden.proyecto.nombre}}</td>
                    <td>{{articulo.articulo_comprado.producto.producto.articulos.orden.subproyecto.nombre}}</td>
                    <td>{{articulo.entrada.entrada_date}} </td>
                    <td>
                        <a class="btn btn-outline-info btn-block mx-auto" type="button" href="{% url 'reporte_calidad' articulo.id %}"><i class="fa-solid fa-list-ul"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!--Este es el modal-->
<div class="modal fade" id ="dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" id="document" role="document" hx-target="this">

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
var dataSpyList = [].slice.call(document.querySelectorAll('[data-bs-spy="scroll"]'))
dataSpyList.forEach(function (dataSpyEl) {
  bootstrap.ScrollSpy.getInstance(dataSpyEl)
    .refresh()
});
;(function(){
    const modal = new bootstrap.Modal(document.getElementById('dialog'))

    htmx.on('htmx:beforeSwap',(e)=>{
        if (e.detail.target.id === "document" && !e.detail.xhr.response)
        modal.hide()
    })
})()
var myModal = document.getElementById('dialog')

myModal.addEventListener('hidden.bs.modal', function (event) {
  location.reload();
})

</script>
{% endblock %}
</body>
</html>