{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
{% load tt_extras %}
{% load l10n %}
<html>
<head>
{% block title %}Entradas Pendientes{% endblock %}
</head>
<body>
{% block content %}
<hr>
<hr>
<hr>
<h6>&nbsp;</h6>
<h6 class="d-lg-none">&nbsp;</h6>
<div class = "col bg-white" id="response-div">
    <div class="card">
        <div class="card-header">
            <h5>Pendientes de Entrada</h5>
        </div>
        
        <div class="card-body">
            <form method="GET">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-3 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.oc|add_class:"form-control"|append_attr:"placeholder= Folio OC"}}
                                <label style="color: #121212;" for="id_staff">Folio OC</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.proveedor|add_class:"form-control"|append_attr:"placeholder= Proveedor"}}
                                <label style="color: #121212;" for="id_staff">Proveedor</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.req|add_class:"form-control"|append_attr:"placeholder= Requisición"}}
                                <label style="color: #121212;" for="id_staff">Requisición</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-diagram-project"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.proyecto|add_class:"form-control"|append_attr:"placeholder= Proyecto"}}
                                <label style="color: #121212;" for="id_proyecto">Proyecto</label>
                            </div>
                        </div>
                    </div>       
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-diagram-project"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.subproyecto|add_class:"form-control"|append_attr:"placeholder= Subproyecto"}}
                                <label style="color: #121212;" for="id_proyecto">Subproyecto</label>
                            </div>
                        </div>
                    </div>  
                    <div id="serie" class="col-lg-2 col-md-auto col-sm-auto">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {% render_field myfilter.form.start_date type="date" class="form-control" %}
                            <label style="color: #121212;" for="id_subproyecto">Desde:</label>
                            </div>
                        </div>
                    </div>
                    <div id="serie" class="col-lg-2 col-md-auto col-sm-auto">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {% render_field myfilter.form.end_date type="date" class="form-control" %}
                            <label style="color: #121212;" for="id_subproyecto">Hasta:</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-outline-success btn-block btn-lg mt-1" type="submit" value="Buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
            <hr>
            </form>
            <form method=POST>
                    {% csrf_token %}
                    <ul class="nav nav-pills">
                        <li class="nav-item m-1">
                            <button type="submit" name="btnExcel" class="btn btn-outline-success" value='Reporte Excel'>
                                <i class="fa-solid fa-file-excel fa-2xl"></i>
                            </button>
                        </li>
                    </ul>
            </form>
        </div>
    </div>      
</div>
    <!-- Aquí terminan el encabezado de los filtros -->

<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class = "col">
    <div class="card">
        <div class ="table-responsive-sm">
            <table class="table bg-white">
                <thead class="text-black" style="background-color: #F5F5F5;">
                    <tr>
                        <th scope="col">Compra</th>
                        <th scope="col">Critico</th>
                        <th scope="col">Producto Terminado</th>
                        <th class="d-none d-lg-table-cell">Req.</th>
                        <th scope="col">Sol.</th>
                        <th class="d-none d-lg-table-cell">Solicitado por</th>
                        <th scope="col">Proyecto</th>
                        <th class="d-none d-lg-table-cell">Subproyecto</th>
                        <th class="d-none d-lg-table-cell">Fecha Recepción</th>
                        <th scope="col">Proveedor</th>
                        <th>Concepto</th>
                        <th>Cantidad</th>
                        <th scope="col">Edición cantidad</th>
                        <th>Fecha Caducidad</th>
                        <th>Edición caducidad</th>
                        <th>Entrada Almacén</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in articulos_recepcionados_list %}
                    <tr>
                        <td scope="col">{{item.entrada.oc.get_folio}}</td>
                        {% if item.referencia %}
                        <th scope="row">{{item.referencia}}</th>
                        {% else %}
                        <th>No</th>
                        {% endif %}
                        {% if item.articulo_comprado.producto.producto.articulos.producto.producto.familia.nombre == 'PRODUCTO TERMINADO' %}
                        <th scope="row">PRODUCTO TERMINADO</th>
                        {% else %}
                        <th>No</th>
                        {% endif %}
                        <td class="d-none d-lg-table-cell">{{item.entrada.oc.req.folio}}</td>
                        <td scope="col">{{item.entrada.oc.req.orden.folio}}</td>
                        <td class="d-none d-lg-table-cell">{{item.entrada.oc.req.orden.staff.staff.first_name}} {{item.entrada.oc.req.orden.staff.staff.last_name}}</td>
                        <td>{{item.entrada.oc.req.orden.proyecto.nombre}}</td>
                        <td class="d-none d-lg-table-cell">{{item.entrada.oc.req.orden.subproyecto.nombre}}</td>
                        <td class="d-none d-lg-table-cell">{{item.fecha_recepcion}} </td>
                        {% if compra.proveedor.nombre.razon_social == "COLABORADOR" %}
                        <td>
                            <a id="edit_expiration_{{item.id|unlocalize}}" class="btn btn-lg btn-outline-info m-1" onclick="modificar_fecha('{{item.id|unlocalize}}')">
                                <i class="fa-solid fa-calendar"></i> <!-- Icono de calendario -->
                            </a>
                            <button type="button" id="save_fecha_{{item.id|unlocalize}}" onclick="aceptar_edicion_fecha('{{item.id|unlocalize}}')" class="btn btn-outline-primary d-none">
                                <i class="fa-regular fa-circle-check"></i> <!-- Icono de confirmación -->
                            </button>
                            <button id="cancel_edit_fecha_{{item.id|unlocalize}}" type="button" class="btn add-btn d-none" onclick="cancelar_edicion_fecha('{{item.id|unlocalize}}')" style="color:ghostwhite; background-color:#980F0F ;">
                                <i class="fa-solid fa-circle-xmark"></i> <!-- Icono de cancelar -->
                            </button>
                        </td>
                        {% else %}
                        <td>{{item.entrada.oc.proveedor}}</td>
                        {% endif %}
                    
                        <td>{{item.articulo_comprado.producto.producto.articulos.producto}}</td>
                        <td class="" id="cantidad_{{item.id|unlocalize}}"
                            cantidad_compra="{{ item.articulo_comprado.cantidad }}"
                            data-total_recepcionado="{{ item.total_recepcionado }}"
                            data-total_nc="{{ item.total_nc }}">
                            {{ item.cantidad }}
                        </td>
                        <td class="d-none" id="form_cantidad_{{item.id|unlocalize}}">
                            <input type="number"  class="form-control" id="cantidad-input_{{ item.id|unlocalize }}" value="{{ item.cantidad }}">
                        </td>
                        <td>
                            <a id="edit_quantity_{{item.id|unlocalize}}" class="btn btn-lg btn-outline-info m-1" onclick="modificar_cantidad('{{item.id|unlocalize}}')">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <button type="button" id="save_cantidad_{{item.id|unlocalize}}" onclick="aceptar_edicion2('{{item.id|unlocalize}}')" class="btn btn-outline-primary d-none">
                                <i class="fa-regular fa-circle-check"></i>
                            </button>
                            <button id="cancel_edit2_{{item.id|unlocalize}}" type="button" class="btn add-btn d-none" onclick="cancelar_edicion2('{{item.id|unlocalize}}')" style="color:ghostwhite; background-color:#980F0F ;">
                                <i class="fa-solid fa-circle-xmark"></i>
                            </button>
                        </td>
                        {% if item.articulo_comprado.producto.producto.articulos.producto.producto.caducidad %}
                            <td id="fecha_{{item.id|unlocalize}}">
                                {{ item.fecha_caducidad }}
                                <!-- Formulario de edición de la fecha -->
                                <td id="form_fecha_{{item.id|unlocalize}}" class="d-none">
                                    <input type="date" id="fecha-input_{{item.id|unlocalize}}" value="{{ item.fecha_caducidad }}">
                                </td>
                            </td>
                            <td>
                                <!-- Botones para la edición de la fecha -->
                                <a id="edit_expiration_{{item.id|unlocalize}}" class="btn btn-lg btn-outline-info m-1" onclick="modificar_fecha('{{item.id|unlocalize}}')">
                                    <i class="fa-solid fa-calendar"></i>
                                </a>
                                <button type="button" id="save_fecha_{{item.id|unlocalize}}" onclick="aceptar_edicion_fecha('{{item.id|unlocalize}}')" class="btn btn-outline-primary d-none">
                                    <i class="fa-regular fa-circle-check"></i>
                                </button>
                                <button id="cancel_edit_fecha_{{item.id|unlocalize}}" type="button" class="btn add-btn d-none" onclick="cancelar_edicion_fecha('{{item.id|unlocalize}}')" style="color:ghostwhite; background-color:#980F0F ;">
                                    <i class="fa-solid fa-circle-xmark"></i>
                                </button>
                            </td>
                        {% else %}
                            <td>No caduca</td>
                            <td>
                                <!--<button class="btn btn-outline-secondary" disabled>
                                    <i class="fa-solid fa-calendar"></i> 
                                </button>-->
                            </td>
                        {% endif %}
                        <td>
                            <form method="POST" id="myForm">
                            {% csrf_token %}
                            <input type="hidden" name="entrada_articulo_id" value="{{item.id|unlocalize}}">
                            <ul class="nav nav-pills">       
                                <li class="nav-item m-1">
                                    <button id="myBtn" type="submit" name="entrada" class="btn btn-outline-success btn-lg"
                                        {% if item.articulo_comprado.producto.producto.articulos.producto.producto.caducidad and not item.fecha_caducidad %}
                                            disabled
                                            title="Caducidad pendiente"
                                        {% endif %}>
                                        <i class="fa-solid fa-check"></i>
                                    </button>
                                </li>
                                <li class="nav-item m-1">
                                <a id="ncBtn" type="button" class="btn btn-outline-warning btn-lg" href="{% url 'no-conformidad-almacen' item.id%}">NC</a> 
                                </li>  <!--NC: {{item.total_nc}} Ent: {{item.total_recepcionado}} -->
                            </ul>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if  articulos_recepcionados_list.has_previous %}
                <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url 1 'page' request.GET.urlencode %}"><i class="fa-solid fa-angles-left"></i></a></li>
                <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url  articulos_recepcionados_list.previous_page_number  'page' request.GET.urlencode %}"><i class="fa-solid fa-angle-left"></i></a></li>
            {% endif %}

            {% for item in  articulos_recepcionados_list.paginator.page_range %}
                {% if  articulos_recepcionados_list.number == item %}
                    <li class="page-item active"><a href="#" class="page-link bg-dark">{{item}}</a></li>
                {% elif item >  articulos_recepcionados_list.number|add:'-2' and item <  articulos_recepcionados_list.number|add:'2' %}
                    <li class="page-item "><a class="page-link" style="color:#3E92CC" href="{% my_url item 'page' request.GET.urlencode %}" class="page-link">{{item}}</a></li>
                {% endif %}
            {% endfor %}

            {% if  articulos_recepcionados_list.paginator.num_pages >  articulos_recepcionados_list.number|add:'2' %}
            <li><a class="page-link" style="color:#3E92CC" href="?page={{ articulos_recepcionados_list.number|add:'2'}}">&hellip;</a></li>
            <li><a style="color:#3E92CC" href="?page={{ item }}">{{item}}</a></li>
            <li><a class="page-link" style="color:#3E92CC" href="{% my_url  articulos_recepcionados_list.paginator.num_pages 'page' request.GET.urlencode %}">{{ articulos_recepcionados_list.paginator.num_pages}}</a></li>
            {% endif %}

            {% if  articulos_recepcionados_list.has_next %}
                <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url  articulos_recepcionados_list.next_page_number 'page' request.GET.urlencode %}"><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url  articulos_recepcionados_list.paginator.num_pages 'page' request.GET.urlencode %}"><i class="fa-solid fa-angles-right"></i></a></a></li>
            {% endif %}
        </ul>
    </nav>


<!--Este es el modal-->
<div class="modal fade" id ="dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" id="document" role="document" hx-target="this">

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>

function preventDoubleClick(button) {
    setTimeout(function() {
        button.disabled = true;
    }, 50);
}


document.addEventListener('DOMContentLoaded', function() {
    // Función para prevenir el doble clic en el botón
    var myBtn = document.getElementById('myBtn');
    myBtn.addEventListener('click', function() {
        preventDoubleClick(this);
    });
});

function modificar_cantidad(productoId){
    var form_cantidad = document.getElementById("form_cantidad_"+productoId);
    var cantidad = document.getElementById("cantidad_"+productoId);
    //comentario.setAttribute('data-original-comment', comentarioElement.innerHTML);
    var edit_quantity = document.getElementById("edit_quantity_"+productoId);
    //var modificar_cantidad = document.getElementById("modificar_cantidad_"+productoId);
    //var delete_row = document.getElementById("delete_row_"+productoId);
    var cancel_edit = document.getElementById("cancel_edit2_"+productoId);
    var save_cantidad = document.getElementById("save_cantidad_"+productoId);

    form_cantidad.classList.remove("d-none");
    cantidad.classList.add("d-none");
    edit_quantity.classList.add("d-none");
    //delete_row.classList.add("d-none");
    //modificar_cantidad.classList.add("d-none");
    cancel_edit.classList.remove("d-none");
    save_cantidad.classList.remove("d-none");
};

function cancelar_edicion2(productoId){
    var form_cantidad = document.getElementById("form_cantidad_"+productoId);
    var cantidad = document.getElementById("cantidad_"+productoId);
    var edit_quantity = document.getElementById("edit_quantity_"+productoId);
    //var modificar_comentario = document.getElementById("modificar_comentario_"+productoId);
    var delete_row = document.getElementById("delete_row_"+productoId);
    var cancel_edit = document.getElementById("cancel_edit2_"+productoId);
    var save_cantidad = document.getElementById("save_cantidad_"+productoId);
    form_cantidad.classList.add("d-none");
    cantidad.classList.remove("d-none");
    edit_quantity.classList.remove("d-none");
    //delete_row.classList.remove("d-none");
    //modificar_comentario.classList.remove("d-none");
    cancel_edit.classList.add("d-none");
    save_cantidad.classList.add("d-none");
};

function aceptar_edicion2(productoId) {
    var form_tag = document.getElementById("form_cantidad_" + productoId);
    var cantidad = document.getElementById("cantidad_" + productoId);
    var cantidad_compra = parseFloat(cantidad.getAttribute('cantidad_compra'));
    var edit_quantity = document.getElementById("edit_quantity_" + productoId);
    var cancel_edit = document.getElementById("cancel_edit2_" + productoId);
    var save_cantidad = document.getElementById("save_cantidad_" + productoId);
    var inputElement = parseFloat(document.getElementById('cantidad-input_' + productoId).value);

    // Obtener total recepcionado y total NC de los atributos del DOM
    var total_recepcionado = parseFloat(cantidad.getAttribute('data-total_recepcionado'));
    var total_nc = parseFloat(cantidad.getAttribute('data-total_nc'));

    // Si total_recepcionado o total_nc es None, asignarles el valor de 0
    total_recepcionado = isNaN(total_recepcionado) ? 0 : total_recepcionado;
    total_nc = isNaN(total_nc) ? 0 : total_nc;

    // Calcular la diferencia
    var diferencia = inputElement - parseFloat(cantidad.innerHTML);

    // Imprimir valores para depuración
    //console.log("Producto ID:", productoId);
    console.log("Cantidad Compra:", cantidad_compra);
    //console.log("Input Element:", inputElement);
    console.log("Total Recepcionado:", total_recepcionado);
    console.log("Total NC:", total_nc);
    //console.log("Cantidad Actual (innerHTML):", parseFloat(cantidad.innerHTML));
    //console.log("Diferencia:", diferencia);
    //console.log("Validación (total_recepcionado + total_nc + diferencia):", (total_recepcionado + total_nc + diferencia));
    console.log("Validación (total_recepcionado + total_nc + diferencia <= cantidad_compra):", (total_recepcionado + total_nc + diferencia) <= cantidad_compra);

    // Validar la nueva cantidad
    if ((total_recepcionado + total_nc + diferencia) <= cantidad_compra) {
        // Actualizar el valor de total_recepcionado
        total_recepcionado += diferencia;
        cantidad.setAttribute('data-total_recepcionado', total_recepcionado);
        
        // Llamar a la función para actualizar la cantidad
        ActualizarCantidad(productoId, inputElement);

        // Ocultar y mostrar los elementos apropiados
        form_tag.classList.add("d-none");
        cantidad.classList.remove("d-none");
        edit_quantity.classList.remove("d-none");
        cancel_edit.classList.add("d-none");
        save_cantidad.classList.add("d-none");
        
        // Imprimir nuevo total_recepcionado para depuración
        console.log("Nuevo Total Recepcionado:", total_recepcionado);
    } else { 
        Swal.fire({
            "title": "Error",
            "text": "La cantidad de entrada no puede ser mayor que la cantidad pendiente",
            "icon": "error"
        });
    }
}

function ActualizarCantidad(solicitud_id, dato){
    console.log('User is logged in, sending data...' )
    var url = '/entradas/update_cantidad/'
    fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({'solicitud_id': solicitud_id, 'dato': dato})
    })
    .then((response) => {
        return response.json()
    })
    .then((data) => {
        console.log('data:', data)
        let cantidadFormateada = parseFloat(data.dato).toFixed(2);
        console.log(cantidadFormateada)
        document.getElementById('cantidad_' + solicitud_id).innerHTML = cantidadFormateada;
        
        // Recargar la página después de actualizar el dato
        window.location.reload();
    })
    .catch((error) => {
        console.error('Error:', error);
    });
}

function modificar_fecha(productoId) {
    var form_fecha = document.getElementById("form_fecha_" + productoId);
    var fecha = document.getElementById("fecha_" + productoId);
    var edit_expiration = document.getElementById("edit_expiration_" + productoId);
    var cancel_edit = document.getElementById("cancel_edit_fecha_" + productoId);
    var save_fecha = document.getElementById("save_fecha_" + productoId);

    form_fecha.classList.remove("d-none");
    fecha.classList.add("d-none");
    edit_expiration.classList.add("d-none");
    cancel_edit.classList.remove("d-none");
    save_fecha.classList.remove("d-none");
};

function cancelar_edicion_fecha(productoId) {
    var form_fecha = document.getElementById("form_fecha_" + productoId);
    var fecha = document.getElementById("fecha_" + productoId);
    var edit_expiration = document.getElementById("edit_expiration_" + productoId);
    var cancel_edit = document.getElementById("cancel_edit_fecha_" + productoId);
    var save_fecha = document.getElementById("save_fecha_" + productoId);

    form_fecha.classList.add("d-none");
    fecha.classList.remove("d-none");
    edit_expiration.classList.remove("d-none");
    cancel_edit.classList.add("d-none");
    save_fecha.classList.add("d-none");
};

function aceptar_edicion_fecha(productoId) {
    var form_tag = document.getElementById("form_fecha_" + productoId);
    var fecha = document.getElementById("fecha_" + productoId);
    var edit_expiration = document.getElementById("edit_expiration_" + productoId);
    var cancel_edit = document.getElementById("cancel_edit_fecha_" + productoId);
    var save_fecha = document.getElementById("save_fecha_" + productoId);
    var inputElement = document.getElementById('fecha-input_' + productoId).value;

    // Aquí puedes agregar validaciones para la fecha si es necesario

    // Llamar a la función para actualizar la fecha
    ActualizarFecha(productoId, inputElement);

    // Ocultar y mostrar los elementos apropiados
    form_tag.classList.add("d-none");
    fecha.classList.remove("d-none");
    edit_expiration.classList.remove("d-none");
    cancel_edit.classList.add("d-none");
    save_fecha.classList.add("d-none");
}

function ActualizarFecha(productoId, nuevaFecha) {
    console.log('Actualizando la fecha de caducidad...');

    var url = '/entradas/update_fecha/';
    fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({'productoId': productoId, 'nuevaFecha': nuevaFecha})
    })
    .then((response) => {
        return response.json();
    })
    .then((data) => {
        console.log('Fecha actualizada:', data);

        // Actualiza la fecha mostrada en la página
        document.getElementById('fecha_' + productoId).innerHTML = data.nuevaFecha;
        
        // Recargar la página después de actualizar la fecha (opcional)
        window.location.reload();
    })
    .catch((error) => {
        console.error('Error al actualizar la fecha:', error);
    });
}

</script>
{% endblock %}
</body>
</html>