{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
{% load tt_extras %}
<html>
<head>
{% block title %}Recepciones Pendientes{% endblock %}
</head>
<body>
{% block content %}
<hr>
<hr>
<hr>
<h6>&nbsp;</h6>
<h6 class="d-lg-none">&nbsp;</h6>
<div class = "col bg-white" id="response-div">
    <div class="card">
        <div class="card-header">
            <h5>Pendientes de Recepción</h5>
        </div>
        <div class="card-body">
            {% csrf_token %}
            <form method="GET">
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                        <div class="form-floating form-floating-group flex-grow-1">   
                            {{myfilter.form.id|add_class:"form-control"|append_attr:"placeholder= Folio OC"}}
                            <label style="color: #121212;" for="id_staff">Folio OC</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                        <div class="form-floating form-floating-group flex-grow-1">   
                            {{myfilter.form.proveedor|add_class:"form-control"|append_attr:"placeholder= Proveedor"}}
                            <label style="color: #121212;" for="id_staff">Proveedor</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                        <div class="form-floating form-floating-group flex-grow-1">   
                            {{myfilter.form.req|add_class:"form-control"|append_attr:"placeholder= Requisición"}}
                            <label style="color: #121212;" for="id_staff">Requisición</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-diagram-project"></i></span>
                        <div class="form-floating form-floating-group flex-grow-1">   
                            {{myfilter.form.proyecto|add_class:"form-control"|append_attr:"placeholder= Proyecto"}}
                            <label style="color: #121212;" for="id_proyecto">Proyecto</label>
                        </div>
                    </div>
                </div>       
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-diagram-project"></i></span>
                        <div class="form-floating form-floating-group flex-grow-1">   
                            {{myfilter.form.subproyecto|add_class:"form-control"|append_attr:"placeholder= Subproyecto"}}
                            <label style="color: #121212;" for="id_proyecto">Subproyecto</label>
                        </div>
                    </div>
                </div>  
                <div id="serie" class="col-lg-2 col-md-auto col-sm-auto">
                    <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                        <div class="form-floating form-floating-group flex-grow-1">   
                            {% render_field myfilter.form.start_date type="date" class="form-control" %}
                        <label style="color: #121212;" for="id_subproyecto">Desde:</label>
                        </div>
                    </div>
                </div>
                <div id="serie" class="col-lg-2 col-md-auto col-sm-auto">
                    <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                        <div class="form-floating form-floating-group flex-grow-1">   
                            {% render_field myfilter.form.end_date type="date" class="form-control" %}
                        <label style="color: #121212;" for="id_subproyecto">Hasta:</label>
                        </div>
                    </div>
                </div>
                    <div class="col-2">
                        <button class="btn btn-outline-success btn-block btn-lg mt-1" type="submit" value="Buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
                <hr>
                </form>
                <form method=POST>
                    {% csrf_token %}
                    <!--<ul class="nav nav-pills">
                        <li class="nav-item mx-2">
                            <button type="submit" class="btn btn-outline-success" value='Reporte Excel'>
                                <i class="fa-solid fa-file-excel fa-2xl"></i>
                            </button>
                        </li>
                        <li class="nav-item mx-2">
                            <button type="button" class="btn btn-outline-danger">
                               <i class="fa-solid fa-file-pdf fa-2xl"></i>
                            </button>
                        </li>
                    </ul>-->
                </form>
            </div>
        </div>
        
    </div>
    <!-- Aquí terminan el encabezado de los filtros -->

<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class = "col">
    <div class="card">
        <div class ="table-responsive-sm">
            <table class="table bg-white">
            <thead class="text-black" style="background-color: #F5F5F5;">
                <tr>
                    <th scope="col">Compra</th>
                    <th class="d-none d-lg-table-cell">Req.</th>
                    <th scope="col">Sol.</th>
                    <th class="d-none d-lg-table-cell">Solicitado por</th>
                    <th scope="col">Proyecto</th>
                    <th class="d-none d-lg-table-cell">Subproyecto</th>
                    <th class="d-none d-lg-table-cell">Autorizado</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for compra in compras_list %}
                <tr>
                    <td scope="col">{{compra.get_folio}}</th>
                    <td class="d-none d-lg-table-cell">{{compra.req.folio}}</td>
                    <td scope="col">{{compra.req.orden.folio}}</td>
                    <td class="d-none d-lg-table-cell">{{compra.req.orden.staff.staff.first_name}} {{compra.req.orden.staff.staff.last_name}}</td>
                    <td>{{compra.req.orden.proyecto.nombre}}</td>
                    <td class="d-none d-lg-table-cell">{{compra.req.orden.subproyecto.nombre}}</td>
                    <td class="d-none d-lg-table-cell">{{compra.autorizado_date2}} </td>
                    {% if compra.proveedor.nombre.razon_social == "COLABORADOR" %}
                    <td>{{compra.deposito_comprador.staff.first_name}} {{compra.deposito_comprador.staff.last_name}}</td>
                    {% else %}
                    <td>{{compra.proveedor}}</td>
                    {% endif %}
                    <td>
                        <ul class="nav nav-pills">
                            <li class="nav-item m-1">
                                <a id="myBtn" type="button" class="btn btn-outline-info" href="{% url 'articulos_recepcion' compra.id %}">Recepción</a>
                            </li>
                            <!-- Añadir el botón de productos aquí -->
                            <li class="nav-item m-1">
                            <a id="productosBtn" type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#dialog" hx-target="#document" hx-get="{% url 'productos' compra.id %}">Productos</a>
                            </li>
                            <!-- Añadir el botón de NC aquí -->
                            <li class="nav-item m-1">
                            <a id="ncBtn" type="button" class="btn btn-outline-warning" href="{% url 'no-conformidad' compra.id %}">NC</a>
                            </li> 
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>

        </div>
   
    </div>
</div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if compras_list.has_previous %}
                <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url 1 'page' request.GET.urlencode %}"><i class="fa-solid fa-angles-left"></i></a></li>
                <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url compras_list.previous_page_number  'page' request.GET.urlencode %}"><i class="fa-solid fa-angle-left"></i></a></li>
            {% endif %}

            {% for item in compras_list.paginator.page_range %}
                {% if compras_list.number == item %}
                    <li class="page-item active"><a href="#" class="page-link bg-dark">{{item}}</a></li>
                {% elif item > compras_list.number|add:'-2' and item < compras_list.number|add:'2' %}
                    <li class="page-item "><a class="page-link" style="color:#3E92CC" href="{% my_url item 'page' request.GET.urlencode %}" class="page-link">{{item}}</a></li>
                {% endif %}
            {% endfor %}

            {% if compras_list.paginator.num_pages > compras_list.number|add:'2' %}
            <li><a class="page-link" style="color:#3E92CC" href="?page={{compras_list.number|add:'2'}}">&hellip;</a></li>
            <li><a style="color:#3E92CC" href="?page={{ item }}">{{item}}</a></li>
            <li><a class="page-link" style="color:#3E92CC" href="{% my_url compras_list.paginator.num_pages 'page' request.GET.urlencode %}">{{compras_list.paginator.num_pages}}</a></li>
            {% endif %}

            {% if compras_list.has_next %}
                <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url compras_list.next_page_number 'page' request.GET.urlencode %}"><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url compras_list.paginator.num_pages 'page' request.GET.urlencode %}"><i class="fa-solid fa-angles-right"></i></a></a></li>
            {% endif %}
        </ul>
    </nav>


<!--Este es el modal-->
<div class="modal fade" id ="dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" id="document" role="document" hx-target="this">

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
var dataSpyList = [].slice.call(document.querySelectorAll('[data-bs-spy="scroll"]'))
dataSpyList.forEach(function (dataSpyEl) {
  bootstrap.ScrollSpy.getInstance(dataSpyEl)
    .refresh()
});
;(function(){
    const modal = new bootstrap.Modal(document.getElementById('dialog'))

    htmx.on('htmx:beforeSwap',(e)=>{
        if (e.detail.target.id === "document" && !e.detail.xhr.response)
        modal.hide()
    })
})()
var myModal = document.getElementById('dialog')

myModal.addEventListener('hidden.bs.modal', function (event) {
  location.reload();
})

</script>
{% endblock %}
</body>
</html>