{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
<html>
<head>
{% block title %}Agregar Producto/Servicio{% endblock %}
</head>
<body>
{% block content %}
<hr>
<h6>&nbsp;</h6>
<h6>&nbsp;</h6>
<h6>&nbsp;</h6>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                  <h3>Agregar Producto/Servicio</h3>
                </div>
                <form method="POST" id='ProductForm' enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="col-12">
                      <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-list"></i></span>
                          <div class="form-floating form-floating-group flex-grow-1">   
                          {{form.codigo|add_class:"form-control"|append_attr:"placeholder=Código"}}
                          <label for="id_razon_social">Código*</label>
                          </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-list"></i></span>
                          <div class="form-floating form-floating-group flex-grow-1">   
                          {{form.nombre|add_class:"form-control"|append_attr:"placeholder=Nombre"}}
                          <label for="id_razon_social">Nombre*</label>
                          </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-list"></i></span>
                          <div class="form-floating form-floating-group flex-grow-1">   
                          {{form.unidad|add_class:"form-control"|append_attr:"placeholder=Unidad"}}
                          <label for="id_razon_social">Unidad*</label>
                          </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                          <div class="input-group mb-3">
                              <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-list"></i></span>
                              <div class="form-floating form-floating-group flex-grow-1">   
                                  {{form.familia}}
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-list"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{form.subfamilia}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-list"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{form.critico}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-list"></i>&nbsp;Especificaciones Técnicas</span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{form.especs|add_class:"form-control"|append_attr:"placeholder=Especificaciones Técnicas"}}
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="form-check form-switch col-sm-3">
                      <label for="form.impuesto" class="form-check-label"><strong>IVA</strong></label>
                          {{form.iva|add_class:"form-check-input"}}
                    </div>
                    <div class="form-check form-switch col-sm-3">
                      <label for="form.impuesto" class="form-check-label"><strong>Servicio</strong></label>
                          {{form.servicio|add_class:"form-check-input"}}
                    </div>
                   
                    <div class="form-check form-switch col-sm-3">
                      <label for="form.impuesto" class="form-check-label"><strong>Gasto</strong></label>
                          {{form.gasto|add_class:"form-check-input"}}
                    </div>
                   
                    <div class="form-check form-switch col-sm-3">
                      <label for="form.impuesto" class="form-check-label"><strong>Activo</strong></label>
                          {{form.activo|add_class:"form-check-input"}}
                    </div>
                    <div class="form-check form-switch col-sm-3">
                      <label for="form.impuesto" class="form-check-label"><strong>Especialista</strong></label>
                          {{form.especialista|add_class:"form-check-input"}}
                    </div>
                    
                      {{form.image|add_class:"form-control"}}
                   
                    <h6>&nbsp;</h6>
                    <div class="container-fluid text-end">
                      <a class="btn btn-outline-secondary" href="{% url 'dashboard-product' %}">Cancelar</a>
                      <input class="btn btn-outline-info" type='submit' value="Actualizar">
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
</body>
</html>
<!--AJAX CALL-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>

var datosFamilia = {{familias_para_select2|safe}}

$(document).ready(function() {
    
    
    $('#id_familia').select2({
        allowClear: true,
        width: '100%',
        placeholder: 'Familia',
        data: datosFamilia,
        templateResult: formatRepo, // Función para renderizar los resultados
        templateSelection: formatRepoSelection // Función para renderizar la selección
    });
    $('#id_familia').on('select2:select', function(e){
        var data = e.params.data;
        familia_id = data.id
        if (familia_id != ""){
            mini_ajax(familia_id)  //Esta función la llamo cuando se selecciona un nuevo proyecto o cuando ya está seleccionado
        }
    }); //Aquí termina el select2:select
    var familiaSelect = $('#id_familia');
    var subfamiliaSelect = $('#id_subfamilia');
        $('#id_proyecto').on('select2:unselect', function(e){
           
            $('#id_subproyecto').val(null).trigger('change');
        });//Aquí termina el select2:unselect

    });

function mini_ajax(familia_id){
    //console.log(proyecto_id)
    $.ajax({
            url: "{% url 'ajax_load_subfamilias' %}",
            datatype: 'json',
            data: {
                'familia_id': familia_id
            },
            success: function (data) {
                actualizarSubfamilia(data); 
                //console.log(data)            
            }  
        })    

};

function actualizarSubfamilia(data) {
    //console.log(data)
    var $subfamiliaSelect = $('#id_subfamilia');
    $subfamiliaSelect.empty(); // Limpiar las opciones actuales

    // Añadir una opción placeholder
    $subfamiliaSelect.append(new Option('Seleccione una familia', '', true, true));

    // Añadir nuevas opciones
    $.each(data, function(index, subproyecto) {
        $subfamiliaSelect.append(new Option(subfamilia.nombre, subfamilia.id, false, false));
    });

    // Necesitas reinicializar el select2 para reflejar los cambios
    $subfamiliaSelect.trigger('change');
}
   
   $(document).ready(function() {
    $('#id_subfamilia').select2({
        allowClear: true,
        width: '100%',
        placeholder: 'Subfamilia',
        //data: ,
        templateResult: formatRepo, // Función para renderizar los resultados
        templateSelection: formatRepoSelection // Función para renderizar la selección
    });
});

$(document).ready(function() {
    $('#id_critico').select2({
        allowClear: true,
        width: '100%',
        placeholder: 'Criticidad',
        //data: ,
        templateResult: formatRepo, // Función para renderizar los resultados
        templateSelection: formatRepoSelection // Función para renderizar la selección
    });
});

function formatRepo (repo) {
    if (repo.loading) {
        return repo.text;
    }

    var $container = $("<div class='select2-result-repository clearfix'>" +
        "<div class='form-control form-control-lg select2-result-repository__title'></div>" +
        "</div>");

    $container.find(".select2-result-repository__title").text(repo.text);
    
    // Aquí podrías agregar más elementos al contenedor si es necesario.

    return $container;
}
function formatRepoSelection (repo) {
    return repo.text || repo.id;
}
  </script>
{% endblock %}
