{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
<html>
<head>
{% block title %}Histórico Inventario{% endblock %}
</head>
<body>
{% block content %}
<hr>
<hr>
<div class = "row mt-2">
    <h5>Históricos Inventario</h5>
</div>
<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
        {% for message in messages %}
            {% if message %}
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script>
                var m = "{{ message }}";
                swal("Excelente!",m, "success")
            </script>
            {% endif %}
        {% endfor %}
    </div>
</div>

<!-- Aquí empieza la generación de la tabla -->
<div class = "row mt-2">
    <div class="col-md-12">
        <table class="table table-striped table-hover bg-white">
            <thead class="text-black" style="background-color: #F5F5F5;">
                <tr>
                    <th scope="col">Usuario</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Razón del cambio</th>
                    <th scope="col">Tipo de cambio</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad Actual</th>
                    <th scope="col">Cantidad Apartada</th>
                    <th scope="col">Cantidad Entradas</th>
                    <th scope="col">Cantidad Anterior</th>
                    <th scope="col">Cantidad Apartada Anterior</th>
                    <th scope="col">Cantidad Entradas Anterior</th>
                    <th scope="col">Precio</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in registros %}
                <tr>
                    <th scope="row">{{registro.history_user.first_name}} {{registro.history_user.last_name}}</th>
                    <td>{{registro.history_date}}</td>
                    <td>{{registro.history_change_reason}}</td>
                    <td>{{registro.history_type}}</td>
                    <td>{{registro.producto}}</td>
                    <td>{{registro.cantidad}}</td>
                    <td>{{registro.cantidad_apartada}}</td>
                    <td>{{registro.cantidad_entradas}}</td>
                    <td>{{registro.prev_record.cantidad}}</td>
                    <td>{{registro.prev_record.cantidad_apartada}}</td>
                    <td>{{registro.prev_record.cantidad_entradas}}</td>
                    <td>{{registro.price}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!--Este es el modal-->
<div class="modal fade" id ="dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" id="document" role="document">

    </div>
</div>
{% endblock %}

</body>
</html>