{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
<html>
<head>
{% block title %}Página de Inventario{% endblock %}
</head>
<body>
{% block content %}
<hr>
<hr>
<hr>
<!-- Esta es la zona donde se crean los mensajes excitantes con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>


    <div class="container">
        <div class="row">
            <div class="card my-2 mx-1" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Valor de Inventario:</h5>
                    <hr>
                    <h5 class="card-subtitle mb-2 text-muted">${{valor_inv|floatformat:2}}</h5>
                </div>
            </div>
            {% if perfil_flag %}
            <div class="card my-2 mx-1" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">Agregar Productos:</h5>
                    <hr>
                    <ul class="nav nav-pills my-2" >
                        <li>
                            <a class="btn btn-outline-info btn-block mx-auto" type="button" data-bs-toggle="modal" data-bs-target="#dialog" hx-target="#document" hx-get="{% url 'solicitud-inventario-add' %}"><i class="fa-solid fa-circle-plus">Agregar</i></a>
                            <hr>
                            <a type="button" class="btn btn-outline-light" style="background-color:#9a9b9d" data-bs-toggle="modal" data-bs-target='#dialog' hx-target="#document" hx-get="{% url 'upload_batch_inventario' %}">
                                <i class="fa-solid fa-file-arrow-up"> Carga Masiva</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% endif %}
            <div class="card my-2 mx-1" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Reportes:</h5>
                    <hr>
                    <form method=POST>
                    {% csrf_token %}
                    <ul class="nav nav-pills my-2" >
                        <li class="nav-item mx-2 pl-5">
                            <button type="submit" name="btnExcel" class="btn btn-outline-success" value='Reporte Excel'>
                                <i class="fa-solid fa-file-excel fa-2xl"></i>
                            </button>
                        </li>
                        <!--<li class="nav-item mx-2">
                            <button type="button" class="btn btn-outline-danger">
                                <i class="fa-solid fa-file-pdf fa-2xl"></i>
                            </button>
                        </li>-->
                    </ul>
                    </form>
                </div>
            </div>
        </div>
        <div class="card my-2 mx-1">
            <div class="card card-body">
                <h5>Filtro Inventario</h5>
                <hr>
                {% csrf_token %}
                <form method="GET">
                <div class="row g-12">
                    <label for="myfilter.form.codigo" class="col-sm-auto col-form-label text-right my-2"><strong>Código:</strong></label>
                    <div class="col-auto my-2">
                        {{myfilter.form.codigo|add_class:'form-control'}}
                    </div>
                    <label for="myfilter.form.codigo" class="col-sm-auto col-form-label text-right my-2"><strong>Producto:</strong></label>
                    <div class="col-auto my-2">
                        {{myfilter.form.producto|add_class:'form-control'}}
                    </div>
                    <label for="myfilter.form.familia" class="col-sm-auto col-form-label text-right my-2"><strong>Familia:</strong></label>
                    <div class="col-auto my-2">
                        {{myfilter.form.familia|add_class:'form-control'}}
                    </div>
                </div>
                <div class="row">
                    <label for="myfilter.form.familia" class="col-sm-auto col-form-label text-right my-2"><strong>Ubicación:</strong></label>
                    <div class="col-auto my-2">
                        {{myfilter.form.ubicacion|add_class:'form-control'}}
                    </div>
                    <label for="myfilter.form.familia" class="col-sm-auto col-form-label text-right my-2"><strong>Estante:</strong></label>
                    <div class="col-auto my-2">
                        {{myfilter.form.estante|add_class:'form-control'}}
                    </div>
                    <div class="col-2">
                        <button class="btn btn-outline-success btn-block my-2" type="submit" value="Buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
                <hr>
                </form>
            </div>
        </div>


            <div class="col-md-12">
                <table class="table bg-white">
                    <thead class="text-black" style="background-color: #F5F5F5;">
                        <tr>
                            <th scope="row">Código</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Unidad</th>
                            <th scope="col">Familia</th>
                            <th scope="col">Ubicacion</th>
                            <th scope="col">Estante</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Apartados</th>
                            <th scope="col">Entradas</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Costo</th>
                            <th scope="col">Mínimo</th>
                            <th scope="col">Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in existencia_list %}
                        <tr>
                            <th scope="row">{{producto.producto.codigo}}</th>
                            <td>{{producto.producto.nombre}}</td>
                            <td>{{producto.producto.unidad}}</td>
                            <td>{{producto.producto.familia}}</td>
                            {% if producto.ubicacion == None %}
                            <td></td>
                            {% else %}
                            <td>{{producto.ubicacion}}</td>
                            {% endif %}
                            {% if producto.estante == None %}
                            <td></td>
                            {% else %}
                            <td>{{producto.estante}}</td>
                            {% endif %}
                            <td>{{producto.cantidad}}</td>
                            <td>{{producto.cantidad_apartada}}</td>
                            <td>{{producto.cantidad_entradas}}</td>
                            <td>{{producto.price}}</td>
                            <td>${{producto.get_total_producto|floatformat:2}}</td>
                            <td>{{producto.minimo}}</td>
                            <td><a class="btn btn-outline-info" id="btnActualizar" type="button" data-bs-toggle="modal" data-bs-target="#dialog" hx-target="#document" hx-get="{% url 'solicitud-inventario-update-modal' producto.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
            {% if existencia_list.has_previous %}
                <li class="page-item"><a class="page-link" style="color:#3E92CC" href="?page=1"><i class="fa-solid fa-angles-left"></i></a></li>
                <li class="page-item"><a class="page-link" style="color:#3E92CC" href="?page={{existencia_list.previous_page_number}}"><i class="fa-solid fa-angle-left"></i></a></li>
            {% endif %}
            <!--<li class="page-item disabled"><a href="#" class="page-link">Page {{items_list.number}} of {{ items_list.paginator.num_pages}}</a></li>-->

            {% for item in existencia_list.paginator.page_range %}
                {% if existencia_list.number == item %}
                    <li class="page-item active"><a href="#" class="page-link bg-dark">{{item}}</a></li>
                {% elif item > existencia_list.number|add:'-2' and item < existencia_list.number|add:'2' %}
                    <li class="page-item "><a class="page-link" style="color:#3E92CC" href="?page={{item}}" class="page-link">{{item}}</a></li>
                {% endif %}
            {% endfor %}

            {% if existencia_list.paginator.num_pages > existencia_list.number|add:'2' %}
            <li><a class="page-link" style="color:#3E92CC" href="?page={{existencia_list.number|add:'2'}}">&hellip;</a></li>
            <li><a style="color:#3E92CC" href="?page={{ item }}">{{item}}</a></li>
            <li><a class="page-link" style="color:#3E92CC" href="?page={{ existencia_list.paginator.num_pages}}">{{existencia_list.paginator.num_pages}}</a></li>
            {% endif %}

            {% if existencia_list.has_next %}
                <li class="page-item"><a class="page-link" style="color:#3E92CC" href="?page={{existencia_list.next_page_number}}"><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="page-item"><a class="page-link" style="color:#3E92CC" href="?page={{existencia_list.paginator.num_pages}}"><i class="fa-solid fa-angles-right"></i></a></a></li>
            {% endif %}
            </ul>
        </nav>




        <!--Este es el modal-->
        <div class="modal fade" id ="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg modal-dialog-centered" id="document" role="document" hx-target="this">

            </div>
        </div>

    </div>
<script>
;(function(){
    const modal = new bootstrap.Modal(document.getElementById('dialog'))

    htmx.on('htmx:beforeSwap',(e)=>{
        if (e.detail.target.id === "document" && !e.detail.xhr.response)
        modal.hide()
    })
})()

var myModal = document.getElementById('dialog')

myModal.addEventListener('hidden.bs.modal', function (event) {
  location.reload();
})
</script>

{% endblock %}

</body>
</html>