{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load tt_extras %}
<html>
<head>
{% block title %}Proveedores{% endblock %}
</head>
<body>
{% block content %}
<hr>
<hr>

<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class = "row mt-2">
        <div class="col-7">
            <div class="card card-body">
                <h5>Filtro de Proveedores</h5>
                <hr>
                {% csrf_token %}
                <form method="GET">
                <div class="row g-12">
                    <div class="col-lg-4 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.razon_social|add_class:"form-control"|append_attr:"placeholder= Razón Social"}}
                                <label style="color: #121212;" for="id_razon_social">Razón Social</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-id-card"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.rfc|add_class:"form-control"|append_attr:"placeholder= RFC"}}
                                <label style="color: #121212;" for="id_rfc">RFC</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user-tie"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                                {{myfilter.form.nombre_comercial|add_class:"form-control"|append_attr:"placeholder= Nombre Comercial"}}
                                <label style="color: #121212;" for="id_rfc">Nombre Comercial</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-outline-success btn-block my-2 btn-lg" type="submit" value="Buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
                <hr>
                </form>
                    <!--<ul class="nav nav-pills">
                        <li class="nav-item mx-2">
                            <a class="btn btn-outline-info" id="btnActualizar" type="button" href="{% url 'add_proveedores2' %}">
                                <i class="fa-solid fa-plus"> Agregar Proveedor</i>
                            </a>
                        </li>

                    </ul>-->
            </div>
        </div>
        <div class="card col-1 me-2">
                <div class="card-body">
                    <h5 class="card-title">Reportes:</h5>
                    <hr>
                    <form method=POST>
                    {% csrf_token %}
                    <ul class="nav nav-pills my-2" >
                        <li class="nav-item mx-2 pl-5">
                            <button type="submit" name="btnExcel" class="btn btn-outline-success" value='Reporte Excel'>
                                <i class="fa-solid fa-file-excel fa-2xl"></i>
                            </button>
                        </li>
                        <!--<li class="nav-item mx-2">
                            <button type="button" class="btn btn-outline-danger">
                                <i class="fa-solid fa-file-pdf fa-2xl"></i>
                            </button>
                        </li>-->
                    </ul>
                    </form>
                </div>
        </div>
        <div class="card col-2">
                <div class="card-body">
                    <h5 class="card-title">Proveedores:</h5>
                    <hr>
                    <form method=POST>
                    {% csrf_token %}
                    <ul class="nav nav-pills my-2" >
                        <li class="fs-1 nav-item mx-2 pl-5">
                             <strong>{{total_prov}}</strong>
                        </li>
                    </ul>
                    </form>
                </div>
        </div>
</div>

    <div class="col-md-8 my-2">
        <table class="table bg-white">
            <thead class="text-black" style="background-color: #F5F5F5;">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Razón Social</th>
                    <th scope="col">Nombre Comercial</th>
                    <th scope="col">RFC</th>
                    <th scope="col">Edición</th>
                    <th scope="col">Direcciones</th>
                </tr>
            </thead>
            <tbody>
                {% for proveedor in proveedores_list %}
                <tr>
                    <td>{{proveedor.id}}</td>
                    <td>{{proveedor.razon_social}}</th>
                    {% if not proveedor.nombre_comercial %}
                    <td></td>
                    {% else %}
                    <td>{{proveedor.nombre_comercial}}</td>
                    {% endif %}
                    <td>{{proveedor.rfc}}</td>
                    <td>
                        <a class="btn btn-outline-info" id="btnActualizar" type="button" href="{% url 'dashboard-proveedores-update' proveedor.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                    </td>
                    <td>
                        <a class="btn btn-outline-info" id="btnProveedorDirecciones" type="button" href="{% url 'proveedor-direcciones' proveedor.id %}"><i class="fa-solid fa-location-dot"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if proveedores_list.has_previous %}
                <li class="page-item"><a class="page-link" style="color:#3E92CC" href="?page=1"><i class="fa-solid fa-angles-left"></i></a></li>
                <li class="page-item"><a class="page-link" style="color:#3E92CC" href="?page={{proveedores_list.previous_page_number}}"><i class="fa-solid fa-angle-left"></i></a></li>
            {% endif %}

            {% for item in proveedores_list.paginator.page_range %}
                {% if proveedores_list.number == item %}
                    <li class="page-item active"><a href="#" class="page-link bg-dark">{{item}}</a></li>
                {% elif item > proveedores_list.number|add:'-2' and item < proveedores_list.number|add:'2' %}
                    <li class="page-item "><a class="page-link" style="color:#3E92CC" href="?page={{item}}" class="page-link">{{item}}</a></li>
                {% endif %}
            {% endfor %}

            {% if proveedores_list.paginator.num_pages > proveedores_list.number|add:'2' %}
            <li><a class="page-link" style="color:#3E92CC" href="?page={{proveedores_list.number|add:'2'}}">&hellip;</a></li>
            <li><a style="color:#3E92CC" href="?page={{ item }}">{{item}}</a></li>
            <li><a class="page-link" style="color:#3E92CC" href="?page={{ proveedores_list.paginator.num_pages}}">{{proveedores_list.paginator.num_pages}}</a></li>
            {% endif %}

            {% if proveedores_list.has_next %}
                <li class="page-item"><a class="page-link" style="color:#3E92CC" href="?page={{proveedores_list.next_page_number}}"><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="page-item"><a class="page-link" style="color:#3E92CC" href="?page={{proveedores_list.paginator.num_pages}}"><i class="fa-solid fa-angles-right"></i></a></a></li>
            {% endif %}
        </ul>
    </nav>
<!--Este es el modal-->
        <div class="modal fade" id ="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg modal-dialog-centered" id="document" role="document" hx-target="this">

            </div>
        </div>
</body>
</html>
<!--AJAX CALL-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>
    $("#id_familia").change(function () {
      const url = $("#ProductForm").attr("data-subfamilias-url");  // get the url of the `load_subfamilias` view
      const familiaId = $(this).val();  // get the selected familia ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'familia_id': familiaId       // add the familia id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_subfamilias` view function
          $("#id_subfamilia").html(data);  // replace the contents of the subfamilia input with the data that came from the server
        }
      });
    });

    ;(function(){
        const modal = new bootstrap.Modal(document.getElementById('dialog'))

        htmx.on('htmx:beforeSwap',(e)=>{
            if (e.detail.target.id === "document" && !e.detail.xhr.response)
                modal.hide()
        })
    })()

    var myModal = document.getElementById('dialog')

    myModal.addEventListener('hidden.bs.modal', function (event) {
       setTimeout(function(){
           // location.reload();
        },3000);
    })
  </script>
{% endblock %}

<!--style="background-color: #D0D8DC; color:black; font-weight: bold;" -->
<!--style="background-color: #515151; color:white;"-->
<!--style="background-color: #711F1B; color:white;"-->