{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
<html>
<head>
{% block title %}Edición de Proveedores{% endblock %}
</head>
<body>
{% block content %}
<hr>
<hr>
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Agregar Artículo</h3>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    <div class="col-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user-plus"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                            {{form.razon_social|add_class:"form-control"|append_attr:"placeholder=Razón Social"}}
                            <label for="id_lugar_partida">Razón Social*</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                    <div class="col-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-id-card-clip"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                            {{form.rfc|add_class:"form-control"|append_attr:"placeholder=RFC"}}
                            <label for="id_lugar_partida">RFC*</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user-plus"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                            {{form.nombre_comercial|add_class:"form-control"|append_attr:"placeholder=Nombre Comercial"}}
                            <label for="id_lugar_partida">Nombre Comercial*</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user-plus"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                            {{form.familia|add_class:"form-control"|append_attr:"placeholder=Familia"}}
                            <label for="id_lugar_partida">Familia</label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <a class="btn btn-outline-secondary" href="{% url 'dashboard-proveedores' %}">Cancelar</a>
                    <input class="btn btn-outline-info" type='submit' value="Actualizar">
                </form>
            </div>
        </div>

    </div>
</div>
</body>
</html>
<!--AJAX CALL-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>

  </script>
{% endblock %}
