{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
<html>
<head>
{% block title %}Agregar Proveedor{% endblock %}

</head>
<body>
{% block content %}
<hr>
<hr>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-8 offset-md-3">
            <div class="border bg-white p-3">
                <ul class="nav nav-pills">
                 <li class="nav-item"><h3>Agregar Proveedor [Existente]</h3></li>
                 <li class="nav-item"><a class="btn btn-outline-info" href="{% url 'add_proveedores2' %}">Nuevo</a></li>
                </ul>
                <hr>
                <form method="POST" class="post-form" id='ProductForm'>
                    {% csrf_token %}
                    <div class="col-sm-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user-plus"></i></i></span>
                            <div class="form-floating form-floating-group flex-grow-1"> 
                                <input type="text" list="proveedores" id="txt_proveedores" valor="{{proveedores.id}}" placeholder="Proveedores..." class="form-control">
                                <label for="txt_proveedores">Proveedores*</label>
                            </div>
                            <datalist id="proveedores" name='proveedores'>
                            {% for item in proveedores %}
                            <option valor="{{item.id}}" value="{{item.razon_social}}"></option>
                            {% endfor %}
                            </datalist>
                        </div>
                    </div>
                    {{form.razon_social}}
                    <div class="col-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-location-dot"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                            {{form.domicilio|add_class:"form-control"|append_attr:"placeholder=Domicilio"}}
                            <label for="id_lugar_partida">Domicilio*</label>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-id-card"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                            {{form.contacto|add_class:"form-control"|append_attr:"placeholder=Contacto"}}
                            <label for="id_lugar_partida">Contacto*</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-6">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-map-location"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                            {{form.estado|add_class:"form-select"|append_attr:"placeholder=Estado"}}
                            <label for="id_lugar_partida">Estado*</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-phone"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                            {{form.telefono|add_class:"form-control"|append_attr:"placeholder=Teléfono"}}
                            <label for="id_lugar_partida">Teléfono*</label>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-6">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-at"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                            {{form.email|add_class:"form-control"|append_attr:"placeholder=Email"}}
                            <label for="id_lugar_partida">Email*</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-at"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                            {{form.email_opt|add_class:"form-control"|append_attr:"placeholder=Email 2"}}
                            <label for="id_lugar_partida">Email 2*</label>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-6">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-building-columns"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                            {{form.banco|add_class:"form-control"|append_attr:"placeholder=Banco"}}
                            <label for="id_lugar_partida">Banco*</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                            {{form.cuenta|add_class:"form-control"|append_attr:"placeholder=Cuenta"}}
                            <label for="id_lugar_partida">Cuenta*</label>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-6">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                            {{form.clabe|add_class:"form-control"|append_attr:"placeholder=Clabe"}}
                            <label for="id_lugar_partida">Clabe*</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-sharp fa-solid fa-gear"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                            {{form.financiamiento|add_class:"form-control"|append_attr:"placeholder=Financiamiento"}}
                            <label for="id_lugar_partida">Financiamiento*</label>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-sharp fa-solid fa-gear"></i></span>
                            <div class="form-floating form-floating-group flex-grow-1">   
                            {{form.dias_credito|add_class:"form-control"|append_attr:"placeholder=Días de crédito"}}
                            <label for="id_lugar_partida">Días de crédito*</label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <a class="btn btn-outline-secondary" href="{% url 'dashboard-product' %}">Cancelar</a>
                    <input class="btn btn-outline-info" type='submit' value="Actualizar">
                </form>
            </div>
        </div>

    </div>
</div>
</body>
</html>
<!--AJAX CALL-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var inputs = document.querySelectorAll("input");
        inputs.forEach(function(input) {
            if (input.name.endsWith('-DELETE')) {
                input.style.display = 'none'; // Oculta el checkbox
                var label = document.querySelector("label[for='"+input.id+"']"); // Busca el label asociado
                if (label) { // Si existe un label asociado...
                    label.style.display = 'none'; // Oculta el label
                }
            }
        });
    });

    document.getElementById("txt_proveedores").addEventListener("change", (event)=>{
    var select = document.getElementById("txt_proveedores");
    var browserChildren = document.getElementById('proveedores').children;
    //var browserChildren = document.getElementById('proveedor')
    //var dataList = document.getElementById(browserChildren.getAttribute("valor"))
    var other_select = document.getElementById('id_nombre');
    //var status_txt = document.getElementById('comparativo')

    //cont = 0

    for(let i = 0; i < browserChildren.length; i++){
        console.log(browserChildren[i].value)

        if (browserChildren[i].value == select.value) {
            //console.log(browserChildren[i])
            //console.log(select.value)
            let id = browserChildren[i].getAttribute('valor');
            //console.log(id)
            let status = browserChildren[i].getAttribute('status')
            console.log(id)


            other_select.value = id;
            cont = 1
            }
        }

    //El cont = 0 es un indicador/bandera si encuentra al menos una similitud en el for no se activa
    if ((!select.value) || (cont = 0)){
        other_select.value = 0
        status_txt.setAttribute("class","row my-2 d-none")
    }
});
  </script>
{% endblock %}
