{% extends 'partials/base.html' %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h2>Correo enviado</h2>
                </div>
                <div class="card-body">
                    <p>Te hemos enviado un correo electrónico con las instrucciones para restablecer tu contraseña.</p>
                </div>
                <div class="card-footer text-right">
                    <a class="btn btn-primary" href="{% url 'user-login' %}">Regresar a inicio de sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}