{% extends 'partials/base.html' %}
{% block title %} Register Page {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<h6>&nbsp</h6>
<h6>&nbsp</h6>
<div class row="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3>Página de Registro</h3>
                </div>
                <div class="card-body">
                <p>No tienes los permisos suficientes para poder hacer un registro de usuario</p>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}